@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", Style = "color:White;" }))
    {
    @Html.AntiForgeryToken()

    <span class="navbar">

        @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", Style = "color:White;", Class = "p-2 bd-highlight" })


        <a class="nav-item"  href="javascript:document.getElementById('logoutForm').submit()"><img src="~/Content/power-off.svg" style="max-width: 30px ; max-height: 30px" class="rounded float-right" alt="LogOut"></a>
   
    </span>
    }
}
else
{
    // @Html.ActionLink("d", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink2"  ,Style = "color:White; font-size:large " })
   @Html.ActionLink("Ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink"  ,Style = "color:White; font-size:large " })

}
