USE [Gr03Proy2]
GO
/****** Object:  User [Gr03Proy2]    Script Date: 11/21/2019 6:22:11 PM ******/
CREATE USER [Gr03Proy2] FOR LOGIN [Gr03Proy2] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Gr03Proy2]
GO
/****** Object:  UserDefinedFunction [dbo].[ObtenerProyectoActualDelEmpleado]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ObtenerProyectoActualDelEmpleado](@idEmpleado varchar(20))
RETURNS varchar(30)AsBeginDECLARE @nombreProyecto nvarchar(30);Select @nombreProyecto = P.nombre 
From Empleado E inner join TrabajaEn TE on TE.idEmpleadoFK = E.idEmpleadoPK
inner join Proyecto P on TE.idProyectoFK = P.idProyectoAID
where E.idEmpleadoPK = @idEmpleado and TE.estado = 'Activo'
Return @nombreProyecto
End;




GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[cedulaPK] [varchar](20) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[apellido1] [varchar](30) NOT NULL,
	[apellido2] [varchar](30) NULL,
	[empresa] [varchar](30) NOT NULL,
	[provincia] [varchar](30) NOT NULL,
	[canton] [varchar](30) NOT NULL,
	[distrito] [varchar](30) NOT NULL,
	[direccionExacta] [varchar](300) NULL,
	[telefono] [varchar](15) NULL,
	[correo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[cedulaPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[idEmpleadoPK] [varchar](20) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[apellido1] [varchar](30) NOT NULL,
	[apellido2] [varchar](30) NULL,
	[correo] [varchar](30) NOT NULL,
	[telefono] [varchar](15) NULL,
	[fechaNacimiento] [date] NOT NULL,
	[distrito] [varchar](30) NOT NULL,
	[canton] [varchar](30) NOT NULL,
	[provincia] [varchar](30) NOT NULL,
	[direccion] [varchar](30) NULL,
	[estado] [varchar](30) NOT NULL,
	[tipoTrabajo] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[idEmpleadoPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HabilidadBlanda]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabilidadBlanda](
	[idEmpleadoFK] [varchar](20) NOT NULL,
	[habilidad] [varchar](30) NOT NULL,
 CONSTRAINT [PK_HabilidadBlanda] PRIMARY KEY CLUSTERED 
(
	[idEmpleadoFK] ASC,
	[habilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HabilidadTecnica]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HabilidadTecnica](
	[idEmpleadoFK] [varchar](20) NOT NULL,
	[habilidad] [varchar](30) NOT NULL,
 CONSTRAINT [PK_HabilidadTecnica] PRIMARY KEY CLUSTERED 
(
	[idEmpleadoFK] ASC,
	[habilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialReqTester]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialReqTester](
	[idProyectoFK] [int] NOT NULL,
	[idReqFK] [int] NOT NULL,
	[idEmpleadoFK] [varchar](20) NOT NULL,
	[horas] [int] NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaFin] [datetime] NULL,
	[estado] [varchar](20) NOT NULL,
 CONSTRAINT [PK_HistorialReqTester] PRIMARY KEY CLUSTERED 
(
	[idProyectoFK] ASC,
	[idReqFK] ASC,
	[idEmpleadoFK] ASC,
	[fechaInicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proyecto]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyecto](
	[idProyectoAID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[objetivo] [varchar](200) NULL,
	[estado] [varchar](30) NOT NULL,
	[duracionReal] [int] NOT NULL,
	[duracionEstimada] [int] NOT NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFinalizacion] [date] NOT NULL,
	[cedulaClienteFK] [varchar](20) NULL,
	[cantidadReq] [int] NOT NULL,
 CONSTRAINT [PK_Proyecto] PRIMARY KEY CLUSTERED 
(
	[idProyectoAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prueba]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prueba](
	[idProyectoFK] [int] NOT NULL,
	[idReqFK] [int] NOT NULL,
	[idPruebaPK] [int] NOT NULL,
	[nombre] [varchar](60) NOT NULL,
	[resultadoFinal] [varchar](60) NOT NULL,
	[propositoPrueba] [varchar](60) NULL,
	[entradaDatos] [varchar](200) NULL,
	[resultadoEsperado] [varchar](200) NULL,
	[estado] [varchar](60) NOT NULL,
	[imagen] [varbinary](max) NULL,
	[descripcionError] [varchar](200) NULL,
	[flujoPrueba] [varchar](200) NULL,
 CONSTRAINT [PK_Prueba] PRIMARY KEY CLUSTERED 
(
	[idProyectoFK] ASC,
	[idReqFK] ASC,
	[idPruebaPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requerimiento]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requerimiento](
	[idReqPK] [int] NOT NULL,
	[idProyectoFK] [int] NOT NULL,
	[cedulaTesterFK] [varchar](20) NULL,
	[nombre] [varchar](40) NOT NULL,
	[complejidad] [varchar](20) NOT NULL,
	[tiempoEstimado] [int] NOT NULL,
	[tiempoReal] [int] NULL,
	[descripcion] [varchar](100) NULL,
	[fechaDeInicio] [date] NOT NULL,
	[fechaDeFinalizacion] [date] NULL,
	[estado] [varchar](30) NOT NULL,
	[resultado] [bit] NULL,
	[detallesResultado] [varchar](250) NULL,
	[estadoResultado] [varchar](30) NULL,
	[cantidadDePruebas] [int] NOT NULL,
 CONSTRAINT [PK_Requerimiento] PRIMARY KEY CLUSTERED 
(
	[idReqPK] ASC,
	[idProyectoFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tester]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tester](
	[idEmpleadoFK] [varchar](20) NOT NULL,
	[cantidadRequerimientos] [int] NOT NULL,
 CONSTRAINT [PK_Tester] PRIMARY KEY CLUSTERED 
(
	[idEmpleadoFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrabajaEn]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrabajaEn](
	[idProyectoFK] [int] NOT NULL,
	[idEmpleadoFK] [varchar](20) NOT NULL,
	[rol] [varchar](30) NOT NULL,
	[estado] [varchar](30) NOT NULL,
 CONSTRAINT [PK_TrabajaEn] PRIMARY KEY CLUSTERED 
(
	[idProyectoFK] ASC,
	[idEmpleadoFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4', N'Cliente')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Lider')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Soporte')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'cca2e99e-28a3-4731-b452-4beead054522', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'096b1b0e-1044-4163-8f5b-6aa0bc0fa8c5', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'961d6ba4-46e8-4c0d-9081-672e24fe3987', N'2')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'096b1b0e-1044-4163-8f5b-6aa0bc0fa8c5', N'dieg0cr98@gmail.com', 0, N'AJGBPSFYtsarNNkhrkiqJvQFOgf9vtLczsDxySws0JHRbAGWZuwRPxvCjmKqDPsrcw==', N'21db9c56-f9f1-4459-a625-a6efa0c02cd4', NULL, 0, 0, NULL, 1, 0, N'dieg0cr98@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1a93ba09-f400-4409-812d-4e61e1416608', N'dieg0cr98@tester2.com', 0, N'AFDSxcZCSZtK04mWvs76bZ8+uwu6UNB+tzGgMIJh6m5XmTWKqcLuy7NlWwkzsGXp/A==', N'439a9041-8318-4b9d-baa9-6f0dfba33b14', NULL, 0, 0, NULL, 1, 0, N'dieg0cr98@tester2.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'21b0c691-8503-482e-b4e0-cf982abd6d52', N'consultasAvazadas@cliente.com', 0, N'AAayifRJWBqiFTvhIvj6d0WN96UCAc2R8lxBUdjehHFPQgP8y394DrJCUI/5yybvgw==', N'7ff45023-8ff5-430d-bf19-04b7e97f3a3b', NULL, 0, 0, NULL, 1, 0, N'consultasAvazadas@cliente.com')
INSERT [dbo].[Cliente] ([cedulaPK], [nombre], [apellido1], [apellido2], [empresa], [provincia], [canton], [distrito], [direccionExacta], [telefono], [correo]) VALUES (N'11223344', N'Consultas', N'Avanzadas', N'Cliente', N'Ucr', N'San Jose', N'San Jose', N'San Jose', N'ucr', N'12345678', N'consultasAvazadas@cliente.com')
INSERT [dbo].[Cliente] ([cedulaPK], [nombre], [apellido1], [apellido2], [empresa], [provincia], [canton], [distrito], [direccionExacta], [telefono], [correo]) VALUES (N'117240933', N'Cliente', N'Pruebas', N'Requerimientos', N'UCR', N'Cartago', N'La Unión', N'Tres Rios', N'Far far away', N'84238536', N'abenavidesc@hotmail.com')
INSERT [dbo].[Cliente] ([cedulaPK], [nombre], [apellido1], [apellido2], [empresa], [provincia], [canton], [distrito], [direccionExacta], [telefono], [correo]) VALUES (N'12345', N'Jose', N'A', N'C', N'ucr', N'San José', N'Pérez Zeledón', N'San Isidro De El General', N'a', N'123', N'jrcc@hotmail.com')
INSERT [dbo].[Empleado] ([idEmpleadoPK], [nombre], [apellido1], [apellido2], [correo], [telefono], [fechaNacimiento], [distrito], [canton], [provincia], [direccion], [estado], [tipoTrabajo]) VALUES (N'1', N'Admin', N'Admin', NULL, N'admin@admin.com', NULL, CAST(N'1800-01-01' AS Date), N'San José', N'San José', N'San José', NULL, N'Ocupado', N'Jefe de Soporte')
INSERT [dbo].[Empleado] ([idEmpleadoPK], [nombre], [apellido1], [apellido2], [correo], [telefono], [fechaNacimiento], [distrito], [canton], [provincia], [direccion], [estado], [tipoTrabajo]) VALUES (N'1026509874', N'Josefina', N'Pujol', N'Mesalles', N'josefina.pujol@ucr.ac.cr', N'', CAST(N'1880-01-01' AS Date), N'Carmen', N'Central', N'San José', N'', N'Ocupado', N'Tester')
INSERT [dbo].[Empleado] ([idEmpleadoPK], [nombre], [apellido1], [apellido2], [correo], [telefono], [fechaNacimiento], [distrito], [canton], [provincia], [direccion], [estado], [tipoTrabajo]) VALUES (N'106990375', N'Ricardo', N'Villalon', N'Fonseca', N'ricardo.villalon@ucr.ac.cr', N'', CAST(N'1967-04-20' AS Date), N'Carmen', N'Central', N'San José', N'Buena Vista', N'Disponible', N'Jefe de Soporte')
INSERT [dbo].[HabilidadBlanda] ([idEmpleadoFK], [habilidad]) VALUES (N'109870354', N'comunicacion')
INSERT [dbo].[HabilidadBlanda] ([idEmpleadoFK], [habilidad]) VALUES (N'109870354', N'liderazgo')
INSERT [dbo].[HabilidadBlanda] ([idEmpleadoFK], [habilidad]) VALUES (N'116610331', N'Comunicacion')
INSERT [dbo].[HabilidadTecnica] ([idEmpleadoFK], [habilidad]) VALUES (N'109870354', N'c#')
INSERT [dbo].[HabilidadTecnica] ([idEmpleadoFK], [habilidad]) VALUES (N'109870354', N'java')
INSERT [dbo].[HabilidadTecnica] ([idEmpleadoFK], [habilidad]) VALUES (N'109870354', N'sql')
INSERT [dbo].[HistorialReqTester] ([idProyectoFK], [idReqFK], [idEmpleadoFK], [horas], [fechaInicio], [fechaFin], [estado]) VALUES (4, 1, N'1248448787', NULL, CAST(N'2019-11-07T10:20:20.010' AS DateTime), NULL, N'Activo')
INSERT [dbo].[HistorialReqTester] ([idProyectoFK], [idReqFK], [idEmpleadoFK], [horas], [fechaInicio], [fechaFin], [estado]) VALUES (4, 2, N'1248448787', NULL, CAST(N'2019-11-07T10:20:32.407' AS DateTime), NULL, N'Activo')
INSERT [dbo].[HistorialReqTester] ([idProyectoFK], [idReqFK], [idEmpleadoFK], [horas], [fechaInicio], [fechaFin], [estado]) VALUES (6, 1, N'117010001', NULL, CAST(N'2019-11-04T21:58:08.767' AS DateTime), NULL, N'Activo')
SET IDENTITY_INSERT [dbo].[Proyecto] ON 

INSERT [dbo].[Proyecto] ([idProyectoAID], [nombre], [objetivo], [estado], [duracionReal], [duracionEstimada], [fechaInicio], [fechaFinalizacion], [cedulaClienteFK], [cantidadReq]) VALUES (4, N'TestingTriggers', N'', N'Preparación', 0, 0, CAST(N'2019-11-02' AS Date), CAST(N'1800-01-01' AS Date), NULL, 2)
INSERT [dbo].[Proyecto] ([idProyectoAID], [nombre], [objetivo], [estado], [duracionReal], [duracionEstimada], [fechaInicio], [fechaFinalizacion], [cedulaClienteFK], [cantidadReq]) VALUES (5, N'Pruebas Equipo', N'Todo lo relacionado a pruebas del módulo equipo, no tocar porfavor.', N'Activo', 0, 0, CAST(N'2019-11-02' AS Date), CAST(N'2019-11-12' AS Date), N'117240933', 0)
INSERT [dbo].[Proyecto] ([idProyectoAID], [nombre], [objetivo], [estado], [duracionReal], [duracionEstimada], [fechaInicio], [fechaFinalizacion], [cedulaClienteFK], [cantidadReq]) VALUES (6, N'ProyectoConsultasAvanzadas', N'Mostrar datos para las consultas avanzadas', N'Terminado', 103, 0, CAST(N'2019-11-04' AS Date), CAST(N'2019-11-10' AS Date), N'11223344', 12)
SET IDENTITY_INSERT [dbo].[Proyecto] OFF
INSERT [dbo].[Requerimiento] ([idReqPK], [idProyectoFK], [cedulaTesterFK], [nombre], [complejidad], [tiempoEstimado], [tiempoReal], [descripcion], [fechaDeInicio], [fechaDeFinalizacion], [estado], [resultado], [detallesResultado], [estadoResultado], [cantidadDePruebas]) VALUES (1, 4, N'1248448787', N'Testing', N'Medio', 8, NULL, N'', CAST(N'2019-11-02' AS Date), NULL, N'Activo', NULL, N'', NULL, 0)
INSERT [dbo].[Requerimiento] ([idReqPK], [idProyectoFK], [cedulaTesterFK], [nombre], [complejidad], [tiempoEstimado], [tiempoReal], [descripcion], [fechaDeInicio], [fechaDeFinalizacion], [estado], [resultado], [detallesResultado], [estadoResultado], [cantidadDePruebas]) VALUES (1, 6, N'117010001', N'PrimerRequerimiento', N'Simple', 20, NULL, N'', CAST(N'2019-11-04' AS Date), CAST(N'2019-11-10' AS Date), N'Terminado', NULL, N'', NULL, 11)
INSERT [dbo].[Requerimiento] ([idReqPK], [idProyectoFK], [cedulaTesterFK], [nombre], [complejidad], [tiempoEstimado], [tiempoReal], [descripcion], [fechaDeInicio], [fechaDeFinalizacion], [estado], [resultado], [detallesResultado], [estadoResultado], [cantidadDePruebas]) VALUES (1, 11, NULL, N'saf', N'Simple', 0, NULL, N'', CAST(N'2019-11-11' AS Date), NULL, N'Cancelado', NULL, N'', NULL, 0)
INSERT [dbo].[Tester] ([idEmpleadoFK], [cantidadRequerimientos]) VALUES (N'1026509874', -2)
INSERT [dbo].[Tester] ([idEmpleadoFK], [cantidadRequerimientos]) VALUES (N'109870354', 0)
INSERT [dbo].[Tester] ([idEmpleadoFK], [cantidadRequerimientos]) VALUES (N'117010001', 3)
INSERT [dbo].[TrabajaEn] ([idProyectoFK], [idEmpleadoFK], [rol], [estado]) VALUES (4, N'117010001', N'Tester', N'Inactivo')
INSERT [dbo].[TrabajaEn] ([idProyectoFK], [idEmpleadoFK], [rol], [estado]) VALUES (4, N'117010002', N'Tester', N'Inactivo')
INSERT [dbo].[TrabajaEn] ([idProyectoFK], [idEmpleadoFK], [rol], [estado]) VALUES (4, N'1248448787', N'Tester', N'Activo')
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/21/2019 6:22:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/21/2019 6:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/21/2019 6:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 11/21/2019 6:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/21/2019 6:22:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/21/2019 6:22:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Cliente_correo]    Script Date: 11/21/2019 6:22:11 PM ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [UQ_Cliente_correo] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Empleado_correo]    Script Date: 11/21/2019 6:22:11 PM ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [UQ_Empleado_correo] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Proyecto_nombre]    Script Date: 11/21/2019 6:22:11 PM ******/
ALTER TABLE [dbo].[Proyecto] ADD  CONSTRAINT [UQ_Proyecto_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT ('1800-01-01') FOR [fechaNacimiento]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT ('Disponible') FOR [estado]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT ('Tester') FOR [tipoTrabajo]
GO
ALTER TABLE [dbo].[HistorialReqTester] ADD  DEFAULT ('Despedido') FOR [idEmpleadoFK]
GO
ALTER TABLE [dbo].[HistorialReqTester] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Proyecto] ADD  DEFAULT ('Preparación') FOR [estado]
GO
ALTER TABLE [dbo].[Proyecto] ADD  DEFAULT ('0') FOR [duracionReal]
GO
ALTER TABLE [dbo].[Proyecto] ADD  DEFAULT ('0') FOR [duracionEstimada]
GO
ALTER TABLE [dbo].[Proyecto] ADD  DEFAULT ('1800-01-01') FOR [fechaInicio]
GO
ALTER TABLE [dbo].[Proyecto] ADD  DEFAULT ('1800-01-01') FOR [fechaFinalizacion]
GO
ALTER TABLE [dbo].[Proyecto] ADD  DEFAULT ((0)) FOR [cantidadReq]
GO
ALTER TABLE [dbo].[Prueba] ADD  DEFAULT ('Incompleto') FOR [resultadoFinal]
GO
ALTER TABLE [dbo].[Prueba] ADD  DEFAULT ('Incompleto') FOR [resultadoEsperado]
GO
ALTER TABLE [dbo].[Prueba] ADD  DEFAULT ('No iniciado') FOR [estado]
GO
ALTER TABLE [dbo].[Requerimiento] ADD  DEFAULT ('Medio') FOR [complejidad]
GO
ALTER TABLE [dbo].[Requerimiento] ADD  DEFAULT ((0)) FOR [tiempoEstimado]
GO
ALTER TABLE [dbo].[Requerimiento] ADD  DEFAULT ('1800-01-01') FOR [fechaDeInicio]
GO
ALTER TABLE [dbo].[Requerimiento] ADD  DEFAULT ('Preparacion') FOR [estado]
GO
ALTER TABLE [dbo].[Requerimiento] ADD  DEFAULT ((0)) FOR [cantidadDePruebas]
GO
ALTER TABLE [dbo].[Tester] ADD  DEFAULT ((0)) FOR [cantidadRequerimientos]
GO
ALTER TABLE [dbo].[TrabajaEn] ADD  DEFAULT ('Tester') FOR [rol]
GO
ALTER TABLE [dbo].[TrabajaEn] ADD  DEFAULT ('Activo') FOR [estado]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[HabilidadBlanda]  WITH CHECK ADD  CONSTRAINT [FK_HabilidadBlanda_idEmpleadoFK] FOREIGN KEY([idEmpleadoFK])
REFERENCES [dbo].[Empleado] ([idEmpleadoPK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HabilidadBlanda] CHECK CONSTRAINT [FK_HabilidadBlanda_idEmpleadoFK]
GO
ALTER TABLE [dbo].[HabilidadTecnica]  WITH CHECK ADD  CONSTRAINT [FK_idEmpleadoFK] FOREIGN KEY([idEmpleadoFK])
REFERENCES [dbo].[Empleado] ([idEmpleadoPK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HabilidadTecnica] CHECK CONSTRAINT [FK_idEmpleadoFK]
GO
ALTER TABLE [dbo].[HistorialReqTester]  WITH CHECK ADD  CONSTRAINT [FK_HistorialReqTester_idEmpleadoFK] FOREIGN KEY([idEmpleadoFK])
REFERENCES [dbo].[Tester] ([idEmpleadoFK])
GO
ALTER TABLE [dbo].[HistorialReqTester] CHECK CONSTRAINT [FK_HistorialReqTester_idEmpleadoFK]
GO
ALTER TABLE [dbo].[HistorialReqTester]  WITH CHECK ADD  CONSTRAINT [FK_HistorialReqTester_idReqFK] FOREIGN KEY([idReqFK], [idProyectoFK])
REFERENCES [dbo].[Requerimiento] ([idReqPK], [idProyectoFK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistorialReqTester] CHECK CONSTRAINT [FK_HistorialReqTester_idReqFK]
GO
ALTER TABLE [dbo].[Proyecto]  WITH CHECK ADD  CONSTRAINT [FK_Proyecto_Cliente] FOREIGN KEY([cedulaClienteFK])
REFERENCES [dbo].[Cliente] ([cedulaPK])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Proyecto] CHECK CONSTRAINT [FK_Proyecto_Cliente]
GO
ALTER TABLE [dbo].[Prueba]  WITH CHECK ADD  CONSTRAINT [FK_Prueba_Requerimiento] FOREIGN KEY([idReqFK], [idProyectoFK])
REFERENCES [dbo].[Requerimiento] ([idReqPK], [idProyectoFK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prueba] CHECK CONSTRAINT [FK_Prueba_Requerimiento]
GO
ALTER TABLE [dbo].[Requerimiento]  WITH CHECK ADD  CONSTRAINT [FK_Req_CedulaTester] FOREIGN KEY([cedulaTesterFK])
REFERENCES [dbo].[Empleado] ([idEmpleadoPK])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Requerimiento] CHECK CONSTRAINT [FK_Req_CedulaTester]
GO
ALTER TABLE [dbo].[Requerimiento]  WITH CHECK ADD  CONSTRAINT [FK_Requerimiento_IdProy] FOREIGN KEY([idProyectoFK])
REFERENCES [dbo].[Proyecto] ([idProyectoAID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Requerimiento] CHECK CONSTRAINT [FK_Requerimiento_IdProy]
GO
ALTER TABLE [dbo].[Tester]  WITH CHECK ADD  CONSTRAINT [FK_Tester_Empleado] FOREIGN KEY([idEmpleadoFK])
REFERENCES [dbo].[Empleado] ([idEmpleadoPK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tester] CHECK CONSTRAINT [FK_Tester_Empleado]
GO
ALTER TABLE [dbo].[TrabajaEn]  WITH CHECK ADD  CONSTRAINT [FK_TrabajaEn_empleado] FOREIGN KEY([idEmpleadoFK])
REFERENCES [dbo].[Empleado] ([idEmpleadoPK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TrabajaEn] CHECK CONSTRAINT [FK_TrabajaEn_empleado]
GO
ALTER TABLE [dbo].[TrabajaEn]  WITH CHECK ADD  CONSTRAINT [FK_TrabajaEn_proy] FOREIGN KEY([idProyectoFK])
REFERENCES [dbo].[Proyecto] ([idProyectoAID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrabajaEn] CHECK CONSTRAINT [FK_TrabajaEn_proy]
GO
ALTER TABLE [dbo].[TrabajaEn]  WITH CHECK ADD  CONSTRAINT [CK_TrabajaEn_rol] CHECK  (([rol]='Tester' OR [rol]='Lider'))
GO
ALTER TABLE [dbo].[TrabajaEn] CHECK CONSTRAINT [CK_TrabajaEn_rol]
GO
/****** Object:  StoredProcedure [dbo].[HabilidadesBlandasEmpleado]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HabilidadesBlandasEmpleado](@id varchar(20))
AS
SELECT B.habilidad 
	FROM HabilidadBlanda B
	WHERE B.idEmpleadoFK = @id
GO
/****** Object:  StoredProcedure [dbo].[HabilidadesTecnicasEmpleado]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HabilidadesTecnicasEmpleado](@id varchar(20))
AS
SELECT T.habilidad AS 'Técnicas'
	FROM HabilidadTecnica T 
	WHERE T.idEmpleadoFK = @id
GO
/****** Object:  StoredProcedure [dbo].[nombreTester]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[nombreTester] @idProyecto INT AS
SELECT E.nombre, E.apellido1, E.idEmpleadoPK
FROM Empleado E
WHERE idEmpleadoPK IN (SELECT idEmpleadoFK
					  FROM HistorialReqTester
					  WHERE idProyectoFK = @idProyecto
					  AND estado = 'Activo')
GO
/****** Object:  StoredProcedure [dbo].[testersActivos]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[testersActivos]
As
Select E.nombre + ' ' + ISNULL(E.apellido1,'') + ' ' + ISNULL(E.apellido2,'') as [Nombre Empleado], E.idEmpleadoPK as Cedula, E.estado, P.nombre as [Nombre Proyecto] , P.idProyectoAID
From Empleado E inner join TrabajaEn TE on TE.idEmpleadoFK = E.idEmpleadoPK
inner join Proyecto P on TE.idProyectoFK = P.idProyectoAID
where E.tipoTrabajo = 'Tester' and TE.estado = 'Activo'
GO
/****** Object:  StoredProcedure [dbo].[TestersAsignables]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TestersAsignables] @idProyecto INTEGER AS
	SELECT E.idEmpleadoPK, E.nombre, E.apellido1
	FROM Proyecto P JOIN TrabajaEn T 
	ON P.idProyectoAID = T.idProyectoFK 
	JOIN Empleado E 
	ON T.idEmpleadoFK = E.idEmpleadoPK 
	JOIN Tester TEST 
	ON E.idEmpleadoPK  = TEST.idEmpleadoFK             
	WHERE T.idProyectoFK = @idProyecto AND E.tipoTrabajo = 'Tester' AND TEST.cantidadRequerimientos < 10
GO
/****** Object:  StoredProcedure [dbo].[USP_CambiarCedulaCliente]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CambiarCedulaCliente] @cedulaVieja varchar(20), @cedulaNueva varchar(20)
AS
	UPDATE Cliente
	SET cedulaPK = @cedulaNueva
	WHERE cedulaPK = @cedulaVieja
GO
/****** Object:  StoredProcedure [dbo].[USP_CantidadReqATester]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[USP_CantidadReqATester] @idProyecto INTEGER
AS
Select E.idEmpleadoPK ,E.nombre,E.apellido1,E.apellido2, Count(*) as Cantidad
From Requerimiento R inner join Tester T on R.cedulaTesterFK = T.idEmpleadoFK inner join Empleado E on T.idEmpleadoFK = E.idEmpleadoPK
where R.idProyectoFK = @idProyecto
Group by E.idEmpleadoPK ,E.nombre,E.apellido1,E.apellido2
GO
/****** Object:  StoredProcedure [dbo].[USP_ContarRequerimientosTester]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
   Cuenta la cantidad de requerimientos que tiene asignados un tester.
*/
CREATE PROC [dbo].[USP_ContarRequerimientosTester](@idTester CHAR(20),@reqs INT OUTPUT)
AS
     BEGIN
     SELECT @reqs = T.cantidadRequerimientos
     FROM Tester T
     WHERE T.idEmpleadoFK = @idTester
     END
GO
/****** Object:  StoredProcedure [dbo].[USP_DuracionesProyecto]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[USP_DuracionesProyecto] @permiso INTEGER , @rol INTEGER, @idUsuario VARCHAR (20)
AS
          
		   IF (@permiso = 1) --Puede ver todos los proyectos
				Begin
						
						Select idProyectoAID, nombre, duracionEstimada, duracionReal
						From Proyecto
						where estado = 'Terminado'
						
				END
            ELSE
				BEGIN
               
					IF (@permiso = 2) --Solo puede ver los proyectos en los que participa
						BEGIN
                   
							IF (@rol = 3) --Si es cliente
								BEGIN
									--Selecciona todos los proyectos que tengan la cedula del cliente asociada
									Select idProyectoAID, nombre, duracionEstimada, duracionReal
									From Proyecto
									Where cedulaClienteFK = @idUsuario and estado = 'Terminado'

								END
							ELSE
								BEGIN
									Select P.idProyectoAID, P.nombre, duracionEstimada, duracionReal
									From Proyecto P inner join TrabajaEn TE on TE.idProyectoFK = P.idProyectoAID
									Where TE.idEmpleadoFK = @idUsuario and P.estado = 'Terminado'
								END

						END
               
					ELSE
					--No tiene permisos
						Select idProyectoAID, nombre, estado
						From Proyecto  
						where idProyectoAID = 0
				END



GO
/****** Object:  StoredProcedure [dbo].[USP_DuracionReqTester]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[USP_DuracionReqTester]  @idProyecto INTEGER, @idTester varchar(20)
As
--Diego Contreras
Select R.idReqPK, R.nombre, R.tiempoEstimado , sum(HR.horas) as [tiempoReal]
From HistorialReqTester HR inner join Requerimiento R on HR.idReqFK = R.idReqPK 
where R.idProyectoFK = @idProyecto and HR.idEmpleadoFK = @idTester 
Group by R.idReqPK, R.nombre, R.tiempoEstimado
GO
/****** Object:  StoredProcedure [dbo].[USP_editEmployeeId]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_editEmployeeId] @cedulaVieja VARCHAR(30), @cedulaNueva VARCHAR(30) AS
UPDATE Empleado
SET idEmpleadoPK = @cedulaNueva
WHERE idEmpleadoPK = @cedulaVieja
GO
/****** Object:  StoredProcedure [dbo].[USP_EquipoCheckLider]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
    Retorna 1 si hay un  lider en el equipo del proyecto con el id pasado.
            0 en caso contrario.
*/
CREATE PROC [dbo].[USP_EquipoCheckLider](@idProyecto INT,@liderFlag INT OUTPUT)
AS
     BEGIN
        SELECT @liderFlag = COUNT(E.idEmpleadoPK)
        FROM TrabajaEn TB JOIN Empleado E
        ON TB.idEmpleadoFK = E.idEmpleadoPK
        WHERE TB.idProyectoFK = @idProyecto 
			  AND TB.rol = 'Lider' 
			  AND TB.estado = 'Activo'
    END
GO
/****** Object:  StoredProcedure [dbo].[USP_EquipoCheckTesters]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
   Cuenta los testers del equipo para el proyecto con el ID pasado como parámetro.
*/
CREATE PROC [dbo].[USP_EquipoCheckTesters](@idProyecto INT,@testers INT OUTPUT)
AS
     BEGIN
        SELECT @testers = COUNT(E.idEmpleadoPK)
        FROM TrabajaEn TB JOIN Empleado E
        ON TB.idEmpleadoFK = E.idEmpleadoPK
        WHERE TB.idProyectoFK = @idProyecto 
			  AND TB.rol = 'Tester' 
			  AND TB.estado = 'Activo'
    END
GO
/****** Object:  StoredProcedure [dbo].[USP_FechaInicioFinRequerimiento]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[USP_FechaInicioFinRequerimiento] @idProyecto integer , @idEmpleado varchar(20)  
As
Select  R.nombre,R.estado,R.complejidad, min(HR.fechaInicio) as [fechaInicio], max(HR.fechaFin) as [fechaFin], SUM(horas) as [horas]
From HistorialReqTester HR inner join Requerimiento R on HR.idReqFK = R.idReqPK and HR.idProyectoFK = R.idProyectoFK
where HR.idEmpleadoFK = @idEmpleado and HR.idProyectoFK = @idProyecto
Group by  R.nombre,R.estado,R.complejidad
GO
/****** Object:  StoredProcedure [dbo].[USP_FechaInioFinTesterProyecto]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure  [dbo].[USP_FechaInioFinTesterProyecto] @idEmpleadoFK varchar(20)
as


Select P.idProyectoAID ,P.nombre, min(HR.fechaInicio) as [fechaInicio], max(HR.fechaFin) as [fechaFin], SUM(horas) as [horas]
From HistorialReqTester HR inner join Proyecto P on HR.idProyectoFK = P.idProyectoAID
where HR.idEmpleadoFK = @idEmpleadoFK
Group by  P.idProyectoAID ,P.nombre
GO
/****** Object:  StoredProcedure [dbo].[USP_GetEmpleadosDeLider]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_GetEmpleadosDeLider] @cedulaLider VARCHAR(30) AS

SELECT * 
FROM Empleado E, TrabajaEn TE
WHERE E.idEmpleadoPK = TE.idEmpleadoFK
AND idProyectoFK IN (SELECT TE.idProyectoFK
					FROM Empleado E, TrabajaEn TE
					WHERE E.idEmpleadoPK = TE.idEmpleadoFK
					AND TE.idEmpleadoFK = @cedulaLider)
--EXEC USP_getProyectoDeLider '207440918'

--SELECT * FROM TrabajaEn









GO
/****** Object:  StoredProcedure [dbo].[USP_GetEquipo]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
--SP Para obtener testers disponibles de la tabla Empleado.
CREATE PROC USP_GetTestersDisponibles
AS
	SELECT *
	FROM Empleado E
	WHERE E.estado = 'Disponible' AND E.tipoTrabajo = 'Tester'
GO
*/

/*
--SP Para obtener líderes disponibles de la tabla Empleado.
CREATE PROC USP_GetLideresDisponibles
AS
SELECT *
FROM Empleado E
WHERE E.estado = 'Disponible' AND E.tipoTrabajo = 'Lider'
RETURN
GO
*/

CREATE PROC [dbo].[USP_GetEquipo] (@id_proyecto INT)
AS
	BEGIN
		SELECT 
			E.idEmpleadoPK,
			E.nombre,
			E.apellido1,
			E.estado,
			E.tipoTrabajo
		FROM Proyecto P JOIN TrabajaEn TB
		ON P.idProyectoAID = TB.idProyectoFK
		JOIN Empleado E
		ON TB.idEmpleadoFK = E.idEmpleadoPK
		WHERE P.idProyectoAID = @id_proyecto AND TB.estado = 'Activo'
	END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetLideresDisponibles]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
--SP Para obtener testers disponibles de la tabla Empleado.
CREATE PROC USP_GetTestersDisponibles
AS
	SELECT *
	FROM Empleado E
	WHERE E.estado = 'Disponible' AND E.tipoTrabajo = 'Tester'
GO
*/

--SP Para obtener líderes disponibles de la tabla Empleado.
CREATE PROC [dbo].[USP_GetLideresDisponibles]
AS
SELECT *
FROM Empleado E
WHERE E.estado = 'Disponible' AND E.tipoTrabajo = 'Lider'
RETURN
GO
/****** Object:  StoredProcedure [dbo].[USP_GetTestersDisponibles]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SP Para obtener testers disponibles de la tabla Empleado.
CREATE PROC [dbo].[USP_GetTestersDisponibles]
AS
	SELECT *
	FROM Empleado E
	WHERE E.estado = 'Disponible' AND E.tipoTrabajo = 'Tester'
GO
/****** Object:  StoredProcedure [dbo].[USP_GetTestersPorHabilidades]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetTestersPorHabilidades](@habilidades VARCHAR(30))
AS
    BEGIN
        SELECT E.idEmpleadoPK
        FROM Empleado E
        LEFT JOIN HabilidadBlanda HB
        ON E.idEmpleadoPK = HB.idEmpleadoFK
        LEFT JOIN HabilidadTecnica HK
        ON E.idEmpleadoPK = HK.idEmpleadoFK
        WHERE HB.habilidad LIKE '%'+@habilidades+'%'    
            OR    HK.habilidad LIKE '%'+@habilidades+'%'
    END
GO
/****** Object:  StoredProcedure [dbo].[USP_obtenerEdad]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_obtenerEdad] (@id varchar(20))
AS
BEGIN 
SELECT DATEDIFF(YEAR, fechaNacimiento, GETDATE())
FROM Empleado
WHERE idEmpleadoPK =@id

END;
GO
/****** Object:  StoredProcedure [dbo].[USP_ObtenerProyectosUsuario]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[USP_ObtenerProyectosUsuario] @permiso INTEGER , @rol INTEGER, @idUsuario VARCHAR (20)	AS
          
		   IF (@permiso = 1) --Puede ver todos los proyectos
				Begin
						
						Select P.idProyectoAID AS [idProyecto], 
							   P.nombre AS [nombreProyecto], 
							   E.nombre + ' ' + E.apellido1 AS [nombreEmpleado]						
						From Proyecto P Join TrabajaEn TB
						On P.idProyectoAID = TB.idProyectoFK
						Join Empleado E
						On TB.idEmpleadoFK = E.idEmpleadoPK
						Where P.estado = 'Terminado' AND E.tipoTrabajo = 'Lider'
						
				END
            ELSE
				BEGIN
               
					IF (@permiso = 2) --Solo puede ver los proyectos en los que participa
						BEGIN
                   
							IF (@rol = 3) --Si es cliente
								BEGIN
									--Selecciona todos los proyectos que tengan la cedula del cliente asociada
									Select P.idProyectoAID AS [idProyecto], 
										   P.nombre AS [nombreProyecto], 
										   E.nombre + ' ' + E.apellido1 AS [nombreEmpleado]								
									From Proyecto P Join TrabajaEn TB
									On P.idProyectoAID = TB.idProyectoFK
									Join Empleado E
									On TB.idEmpleadoFK = E.idEmpleadoPK
									Where P.estado = 'Terminado' AND E.tipoTrabajo = 'Lider'
										  AND P.cedulaClienteFK = @idUsuario

								END
							ELSE
								BEGIN
									--Selecciona todos los proyectos que tengan la cedula del cliente asociada
									Select P.idProyectoAID AS [idProyecto], 
										P.nombre AS [nombreProyecto], 
										E.nombre + ' ' + E.apellido1 AS [nombreEmpleado]								
									From Proyecto P Join TrabajaEn TB
									On P.idProyectoAID = TB.idProyectoFK
									Join Empleado E
									On TB.idEmpleadoFK = E.idEmpleadoPK
									Where P.estado = 'Terminado' AND E.tipoTrabajo = 'Lider'
									      AND TB.idEmpleadoFK = @idUsuario
								END

						END
               
					ELSE
					--No tiene permisos
						--Selecciona todos los proyectos que tengan la cedula del cliente asociada
									Select P.idProyectoAID AS [idProyecto], 
										 P.nombre AS [nombreProyecto], 
										 E.nombre + ' ' + E.apellido1 AS [nombreEmpleado]							
									From Proyecto P Join TrabajaEn TB
									On P.idProyectoAID = TB.idProyectoFK
									Join Empleado E
									On TB.idEmpleadoFK = E.idEmpleadoPK
									Where P.estado = 'Terminado' AND E.tipoTrabajo = 'Lider'
										  AND P.idProyectoAID = 0
				END
GO
/****** Object:  StoredProcedure [dbo].[USP_TestersDisponibleAsignado]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_TestersDisponibleAsignado] AS
SELECT E.nombre + ' ' + ISNULL(E.apellido1,'') + ' ' + ISNULL(E.apellido2,'') as [Nombre Empleado],
E.idEmpleadoPK as Cedula, 
E.estado, 
IsNull(dbo.ObtenerProyectoActualDelEmpleado(E.idEmpleadoPK),' ') as [Nombre Proyecto]FROM Empleado EWHERE E.tipoTrabajo = 'Tester' and E.estado != 'Despedido'ORDER BY [Nombre Proyecto]




















GO
/****** Object:  Trigger [dbo].[actualizarCorreoSeguridad]    Script Date: 11/21/2019 6:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[actualizarCorreoSeguridad]
ON [dbo].[Cliente]
AFTER UPDATE
AS
	DECLARE @nuevoCorreo VARCHAR(50),@viejoCorreo VARCHAR(50)
BEGIN
	SET NOCOUNT ON;
	IF UPDATE(correo)
		BEGIN
			SELECT @viejoCorreo = (SELECT correo FROM DELETED)
			SELECT @nuevoCorreo = (SELECT correo FROM INSERTED)

			UPDATE AspNetUsers
			SET Email = @nuevoCorreo, UserName = @nuevoCorreo
			WHERE UserName = @viejoCorreo
		END
END
GO
ALTER TABLE [dbo].[Cliente] ENABLE TRIGGER [actualizarCorreoSeguridad]
GO
/****** Object:  Trigger [dbo].[verificarEdad]    Script Date: 11/21/2019 6:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[verificarEdad]
ON [dbo].[Empleado] 
FOR INSERT, UPDATE
AS
BEGIN
DECLARE @fecha DATE
SELECT @fecha =(SELECT fechaNacimiento FROM INSERTED)
IF(DATEDIFF(YEAR, @fecha, GETDATE()) < 18)
	 ROLLBACK TRANSACTION
END
GO
ALTER TABLE [dbo].[Empleado] ENABLE TRIGGER [verificarEdad]
GO
/****** Object:  Trigger [dbo].[TR_AU_Proyecto]    Script Date: 11/21/2019 6:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_AU_Proyecto]
ON [dbo].[Proyecto]
For UPDATE
AS

	IF UPDATE(estado)
	Begin
		DECLARE @estado VARCHAR(30)
		DECLARE @idProyecto  INTEGER
		DECLARE @horas INTEGER
		Select @estado = (Select estado from Inserted)
		Select @idProyecto = (Select idProyectoAID  from Inserted)
		IF(@estado = 'Terminado')
			
			Begin
			--Cambia los estados
				update Requerimiento
				set estado = 'Terminado'
				where idProyectoFK = @idProyecto
			--Libera a las empleados que trabajaban en el proyecto
				update TrabajaEn
				set estado = 'Inactivo'
				where idProyectoFK = @idProyecto
			--Calcula las horas 
			Select @horas = ISNULL(sum(tiempoReal),0)
			From Requerimiento
			where idProyectoFK = @idProyecto

			--Actualiza la duracionReal y la fecha Final en el Proyecto
			update Proyecto
			set duracionReal = @horas, fechaFinalizacion = GETDATE()
			where idProyectoAID = @idProyecto
			END
		IF( @estado = 'Cancelado')
			Begin
			--Cambia los estados
				update Requerimiento
				set estado = 'Cancelado'
				where idProyectoFK = @idProyecto

			--Libera a las empleados que trabajaban en el proyecto
				update TrabajaEn
				set estado = 'Inactivo'
				where idProyectoFK = @idProyecto
		   
		   --Calcula las horas 
			Select @horas = ISNULL(sum(tiempoReal),0)
			From Requerimiento
			where idProyectoFK = 1

			--Actualiza la duracionReal y la fecha Final en el Proyecto
			update Proyecto
			set duracionReal = @horas, fechaFinalizacion = GETDATE()
			where idProyectoAID = @idProyecto
			End
			

	End
GO
ALTER TABLE [dbo].[Proyecto] ENABLE TRIGGER [TR_AU_Proyecto]
GO
/****** Object:  Trigger [dbo].[TR_ActualiceIdPrueba]    Script Date: 11/21/2019 6:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_ActualiceIdPrueba]
ON [dbo].[Prueba]
INSTEAD OF INSERT
AS
BEGIN

	DECLARE @idProy INTEGER, @idReq INTEGER;

	SELECT @idProy = idProyectoFK, @idReq = idReqFK
	FROM INSERTED;

	INSERT INTO Prueba
	SELECT N.idProyectoFK, N.idReqFK, R.cantidadDePruebas + 1, N.nombre, N.resultadoFinal,
	N.propositoPrueba, N.entradaDatos, N.resultadoEsperado, N.flujoPrueba, N.estado,
	N.imagen, N.descripcionError
	FROM Requerimiento R, INSERTED N
	WHERE R.idProyectoFK = @idProy AND R.idReqPK = @idReq;

	UPDATE Requerimiento
	SET cantidadDePruebas = cantidadDePruebas + 1
	WHERE idProyectoFK = @idProy AND idReqPK = @idReq;

END
GO
ALTER TABLE [dbo].[Prueba] ENABLE TRIGGER [TR_ActualiceIdPrueba]
GO
/****** Object:  Trigger [dbo].[actualiceIDRequerimiento]    Script Date: 11/21/2019 6:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[actualiceIDRequerimiento]
ON [dbo].[Requerimiento]
INSTEAD OF INSERT 
AS
BEGIN

	DECLARE @idProy INTEGER;

	SELECT @idProy = (SELECT idProyectoFK FROM INSERTED);

	INSERT INTO Requerimiento
	SELECT P.cantidadReq + 1, N.idProyectoFK, N.cedulaTesterFK, N.nombre, N.complejidad,
	N.tiempoEstimado, N.tiempoReal, N.descripcion, N.fechaDeInicio, N.fechaDeFinalizacion, N.estado,
	N.resultado, N.detallesResultado ,N.estadoResultado, N.cantidadDePruebas
	FROM Proyecto P, INSERTED N
	WHERE P.idProyectoAID = @idProy;

	UPDATE Proyecto
	SET cantidadReq = cantidadReq + 1
	WHERE idProyectoAID = @idPRoy;

END
GO
ALTER TABLE [dbo].[Requerimiento] ENABLE TRIGGER [actualiceIDRequerimiento]
GO
/****** Object:  Trigger [dbo].[canceleRequerimiento]    Script Date: 11/21/2019 6:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[canceleRequerimiento]
ON [dbo].[Requerimiento]
AFTER UPDATE
AS
BEGIN
	IF UPDATE(estado)
	BEGIN
		DECLARE @idProyecto INTEGER, @idRequerimiento INTEGER, @cedulaTester VARCHAR(20), @estado VARCHAR(30);

		SELECT @idProyecto = R.idProyectoFK, @idRequerimiento = R.idReqPK, @cedulaTester = R.cedulaTesterFK, @estado = R.estado
		FROM Requerimiento R, inserted i
		WHERE R.idReqPK = i.idReqPK AND R.idProyectoFK = i.idProyectoFK;

		IF @estado = 'Cancelado'
		BEGIN
			IF @cedulaTester IS NOT NULL
			BEGIN
				UPDATE HistorialReqTester
				SET fechaFin = GETDATE(), estado = 'Inactivo', horas = DATEDIFF(HOUR, fechaInicio, GETDATE())
				WHERE idEmpleadoFK = @cedulaTester AND idReqFK = @idRequerimiento AND idProyectoFK = @idProyecto;

				UPDATE Requerimiento
				SET cedulaTesterFK = NULL
				WHERE idReqPK = @idRequerimiento AND idProyectoFK = @idProyecto;

				UPDATE Tester
				SET cantidadRequerimientos = cantidadRequerimientos - 1
				WHERE idEmpleadoFK = @cedulaTester;
			
			END
			/*Aquí será donde se llama al procedimiento que cancelará todas las pruebas del requerimiento*/
		END
	END
END
GO
ALTER TABLE [dbo].[Requerimiento] ENABLE TRIGGER [canceleRequerimiento]
GO
/****** Object:  Trigger [dbo].[insertarActualiceTester]    Script Date: 11/21/2019 6:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[insertarActualiceTester]
ON [dbo].[Requerimiento]
AFTER INSERT
AS

	DECLARE @cedulaNueva VARCHAR(20), @idProyecto INTEGER, @idRequerimiento INTEGER;

	Print 'Insert' + @cedulaNueva + ' ' + @idProyecto + ' ' + @idRequerimiento
	SELECT @cedulaNueva = cedulaTesterFK, @idProyecto = idProyectoFK, @idRequerimiento = idReqPK
	FROM INSERTED;

	IF @cedulaNueva IS NOT NULL
	BEGIN
		UPDATE Tester
		SET cantidadRequerimientos = cantidadRequerimientos + 1
		WHERE idEmpleadoFK = @cedulaNueva;
			
		INSERT INTO HistorialReqTester(idProyectoFK , idReqFK, idEmpleadoFK, fechaInicio, estado )
		VALUES(@idProyecto, @idRequerimiento, @cedulaNueva, GETDATE(), 'Activo');
	END
GO
ALTER TABLE [dbo].[Requerimiento] ENABLE TRIGGER [insertarActualiceTester]
GO
/****** Object:  Trigger [dbo].[modificarActualiceTester]    Script Date: 11/21/2019 6:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[modificarActualiceTester]
ON [dbo].[Requerimiento]
AFTER UPDATE
AS

	IF(UPDATE(cedulaTesterFK))
	Begin
		DECLARE @cedulaVieja VARCHAR(20), @cedulaNueva VARCHAR(20), @idProyecto INTEGER, @idRequerimiento INTEGER;
		SELECT @cedulaNueva = I.cedulaTesterFK, @idProyecto = I.idProyectoFK, @idRequerimiento = I.idReqPK, @cedulaVieja = D.cedulaTesterFK
		FROM INSERTED I, DELETED D;

		Print 'Vieja ' + ISNULL(@cedulaVieja,'Null') + ' Nueva ' + ISNULL(@cedulaNueva,'Null')

		IF @cedulaVieja IS NULL
			BEGIN
			Print 'Cedula Vieja is null'
				IF @cedulaNueva is not null
					BEGIN
					Print 'Cedula Nueva is not null'
					UPDATE Tester
					SET cantidadRequerimientos = cantidadRequerimientos + 1
					WHERE idEmpleadoFK = @cedulaNueva;

					INSERT INTO HistorialReqTester(idProyectoFK , idReqFK, idEmpleadoFK, fechaInicio, estado )
					VALUES(@idProyecto, @idRequerimiento, @cedulaNueva, GETDATE(), 'Activo');
					END



			END
		Else
			BEGIN
			Print 'Cedula Vieja is not null'
			    IF @cedulaNueva IS  NULL
					BEGIN
						Print 'Cedula Nueva is  null'
						UPDATE HistorialReqTester
						SET fechaFin = GETDATE(), estado = 'Inactivo', horas = DATEDIFF(HOUR, fechaInicio, GETDATE())
						WHERE idEmpleadoFK = @cedulaVieja AND idReqFK = @idRequerimiento AND idProyectoFK = @idProyecto;

						UPDATE Tester
						SET cantidadRequerimientos = cantidadRequerimientos - 1
						WHERE idEmpleadoFK = @cedulaVieja;
					END
				Else
					BEGIN
						IF(@cedulaVieja <> @cedulaNueva)
							Begin
								Print 'Cedulas Diferentes'
								--Actualiza el tester anterior 
								UPDATE HistorialReqTester
								SET fechaFin = GETDATE(), estado = 'Inactivo', horas = DATEDIFF(HOUR, fechaInicio, GETDATE())
								WHERE idEmpleadoFK = @cedulaVieja AND idReqFK = @idRequerimiento AND idProyectoFK = @idProyecto;

								UPDATE Tester
								SET cantidadRequerimientos = cantidadRequerimientos - 1
								WHERE idEmpleadoFK = @cedulaVieja;

								UPDATE Tester
								SET cantidadRequerimientos = cantidadRequerimientos + 1
								WHERE idEmpleadoFK = @cedulaVieja;

								INSERT INTO HistorialReqTester(idProyectoFK , idReqFK, idEmpleadoFK, fechaInicio, estado )
								VALUES(@idProyecto, @idRequerimiento, @cedulaNueva, GETDATE(), 'Activo');

							END
					END
			END
	END


GO
ALTER TABLE [dbo].[Requerimiento] ENABLE TRIGGER [modificarActualiceTester]
GO
/****** Object:  Trigger [dbo].[termineRequerimiento]    Script Date: 11/21/2019 6:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[termineRequerimiento]
ON [dbo].[Requerimiento]
AFTER UPDATE
AS
BEGIN 
	IF UPDATE(estado)
	BEGIN
		DECLARE @idProyecto INTEGER, @idRequerimiento INTEGER, @cedulaTester VARCHAR(20), @estado VARCHAR(30), @fechaFin DATE;

		SELECT @idProyecto = R.idProyectoFK, @idRequerimiento = R.idReqPK, @cedulaTester = R.cedulaTesterFK, @estado = R.estado, @fechaFin = R.fechaDeFinalizacion
		FROM Requerimiento R, inserted i
		WHERE R.idReqPK = i.idReqPK AND R.idProyectoFK = i.idProyectoFK;

		IF @estado = 'Terminado'
		BEGIN
			print('El estado está terminado')
			IF @fechaFin IS NULL
			BEGIN
				print('La fecha de fin es nula')
				UPDATE Requerimiento
				SET fechaDeFinalizacion = GETDATE()
				WHERE idProyectoFK = @idProyecto AND idReqPK = @idRequerimiento;
			END
		END
	END
END
GO
ALTER TABLE [dbo].[Requerimiento] ENABLE TRIGGER [termineRequerimiento]
GO
/****** Object:  Trigger [dbo].[TR_AU_TrabajaEn]    Script Date: 11/21/2019 6:22:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_AU_TrabajaEn]
ON [dbo].[TrabajaEn]
AFTER UPDATE
AS

	IF UPDATE(estado)
	Begin
		
		DECLARE @estado VARCHAR(30)
		DECLARE @idTester  varchar(30)
		DECLARE @horas INTEGER
		Declare @counter int; --variable de conteo de tuplas


		Select @counter = 1

		DECLARE my_cursor CURSOR LOCAL FOR
		SELECT i.estado,i.idEmpleadoFK
		FROM  inserted i

		OPEN my_cursor
		FETCH NEXT FROM my_cursor INTO @estado,  @idTester
		while(@@FETCH_STATUS <> -1 )
		BEGIN
			IF(@estado = 'Inactivo')
			Begin
				update Empleado
				set estado = 'Disponible'
				where idEmpleadoPK = @idTester
			End
			Else
				Begin
					update Empleado
					set estado = 'Ocupado'
					where idEmpleadoPK = @idTester
				End
			FETCH NEXT FROM my_cursor INTO @estado,  @idTester
		end
		close my_cursor
		deallocate my_cursor

		--IF(@estado = 'Inactivo')
		--	Begin
		--		update Empleado
		--		set estado = 'Disponible'
		--		where idEmpleadoPK = @idTester
		--	End
		--Else
		--	Begin
		--		update Empleado
		--		set estado = 'Ocupado'
		--		where idEmpleadoPK = @idTester
		--	End
	End
GO
ALTER TABLE [dbo].[TrabajaEn] ENABLE TRIGGER [TR_AU_TrabajaEn]
GO
