
@using (Html.BeginForm("About",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{



    <label for="file">Agregar Imagen:</label>
    <input type="file" name="file" id="file" />
    <br>
    <br>

    <input type="submit" value="Guardar Imagen" />

    <br>
    <br>
    <img src=" @ViewBag.pic" />
    @ViewBag.Message



}