
<div class="container-fluid text-center">

    <div class="row">
        <div class="col">
            @* <a href="#" id="enlaceajax">Obtener provincias</a>*@
            <button type="button" onclick="getProvincias()">Obtener Provincias</button>
            <br>
            <div id="destino"></div>



        </div>

        <div class="col">
            <button type="button" onclick="getCanton()">Obtener Canton</button>
            <br>

            <div id="destino2"></div>
        </div>


        <div class="col">
            <button type="button" onclick="getDistrito()">Obtener Canton</button>
            <br>

            <div id="destino3"></div>


        </div>


    </div>

</div> 

<script>

    function getProvincias() {

            $.ajax({
                dataType: "json",
                url: "https://ubicaciones.paginasweb.cr/provincias.json",
                data: {},
                success: function (data) {
                    var html = "<select id='abc'>";
                    for (key in data) {
                        html += "<option value='" + data[key] + "'  data-t='" + key + "'>" + data[key] + "</option>";
                    }
                    html += "</select";
                    $('#destino').html(html);
                }
            });


    }



    function getCanton() {
        var selected_option = $("#abc option:selected").data("t");
 

            

            $.ajax({
                dataType: "json",
                url: "https://ubicaciones.paginasweb.cr/provincia/" + selected_option +  "/cantones.json",
                data: {},
                success: function (data) {
                    var html = "<select id='abc2'>";
                    for (key in data) {
                        html += "<option value='" + data[key] + "'  data-t='" + key + "'>" + data[key] + "</option>";
                    }
                    html += "</select";
                    $('#destino2').html(html);
                }
            });


    }


    function getDistrito() {
        var provincia = $("#abc option:selected").data('t');
        var canton = $("#abc2 option:selected").data('t');

        

            $.ajax({
                dataType: "json",
                url: "https://ubicaciones.paginasweb.cr/provincia/" + provincia + "/canton/" + canton + "/distritos.json",
                data: {},
                success: function (data) {
                    var html = "<select id='abc3'>";
                    for (key in data) {
                        html += "<option value='" + data[key] + "'  data-t='" + key + "'>" + data[key] + "</option>";
                    }
                    html += "</select";
                    $('#destino3').html(html);
                }
            });


    }

  

</script>



