@{
    ViewBag.Title = "Quality Experts S.A";
}




 <img src="~/Content/imagenFondo.jpg" class="img-fluid" alt="Responsive image" style="background-image: url('../Content/imagenFondo.jpg') ; background-position:center ; background-size:cover ; background-repeat: no-repeat ">



@*<body style="background-image: url('../Content/imagenFondo.jpg') ; background-position:center ; background-size:cover ; background-repeat: no-repeat ">






</body>*@

