<div class="row " style="height:45px">
    <div class="col-8">
        <p class="font-weight-bold text-left" style="font-family:PlayfairDisplay-Bold; font-size:40px">Nombre del Proyectos</p>
    </div>

    <!-- Botones de Editar y Borrar  -->
    <div class="col">

        @if (ViewBag.permisosEspecificos.Item4 == 1 || ViewBag.permisosEspecificos.Item4 == 2)
        {
            <a data-toggle="tooltip" id="btnEdit" data-placement="left" title="Editar" href="/Proyectos/Edit/@item.idProyectoAID" class="btn"><img src="~/Content/edit.svg" class="rounded float-right" style="max-height:30px ; max-width:30px"></a>

        }
    </div>

    <div class="col">

        @if (ViewBag.permisosEspecificos.Item6 == 1 || ViewBag.permisosEspecificos.Item6 == 2)
        {

            <!-- Button trigger modal -->
            <a href="#" class="btn" data-toggle="modal" data-target="#exampleModal" data-whatever="@item.idProyectoAID"><img src="~/Content/delete.svg" class="rounded float-right" style="max-height:30px ; max-width:30px"></a>
        }

    </div>

</div>

<hr />

<div class="row " style="height:100px">
    <div class="col-6 ">
        One of three columns
    </div>
    <div class="col ">
        One of three columns
    </div>
    <div class="col ">
        One of three columns
    </div>
</div>

<div class="row " style="height:100px">
    <div class="col-6 ">
        One of three columns
    </div>
    <div class="col ">
        One of three columns
    </div>
    <div class="col ">
        One of three columns
    </div>
</div>


<div class="row " style="height:100px">
    <div class="col-6 ">
        One of three columns
    </div>
    <div class="col ">
        One of three columns
    </div>
    <div class="col ">
        One of three columns
    </div>
</div>


<div class="row " style="height:100px">
    <div class="col-6 ">
        One of three columns
    </div>
    <div class="col ">
        One of three columns
    </div>
    <div class="col ">
        One of three columns
    </div>
</div>


<div class="row " style="height:100px">
    <div class="col-6 ">
        One of three columns
    </div>
    <div class="col ">
        One of three columns
    </div>
    <div class="col ">
        One of three columns
    </div>
</div>


<div class="row " style="height:100px">
    <div class="col-6 ">
        One of three columns
    </div>
    <div class="col ">
        One of three columns
    </div>
    <div class="col ">
        One of three columns
    </div>
</div>


<div class="row " style="height:100px">
    <div class="col-6 ">
        One of three columns

    </div>
    <div class="col ">
        One of three columns
    </div>
    <div class="col ">
        One of three columns
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-4  text-center">
        <a data-toggle="tooltip" data-placement="left" title="Ver Requerimientos" class="btn d-inline-block" href="/Requerimientos/Index/@item.idProyectoAID"><img src="~/Content/clipboard.svg" class="rounded float-right" style="height:130px ; width:130px"></a>
    </div>
    <div class="col-4  text-center">
        <a data-toggle="tooltip" data-placement="right" title="Ver Equipo" class="btn d-inline-block" href="/TrabajaEn/Index/@item.idProyectoAID"><img src="~/Content/team.svg" class="rounded float-right" style="height:150px ; width:150px"></a>

    </div>
</div>
