@model  ProyectoIntegrador.BaseDatos.Proyecto



@{
    ViewBag.Title = "Create";
}



@if (Request.IsAuthenticated)
{


    <br />

    <p class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px">Agregar Proyecto</p>

    <hr>


    if (ViewBag.permisos.Item2 == 1)
    {

        @Html.Partial("FormularioAñadir")


    }
    else
    {

        <div class="alert alert-primary text-center" style="color:white ; background-color:red"> Usted no tiene permisos para crear proyectos</div>
        <div>
            @Html.ActionLink("Regresar", "Index")
        </div>
    }




}
else
{
    <div class="alert alert-primary text-center" style="color:white ; background-color:red"> Necesita hacer login para poder crear proyectos</div>
}