@model ProyectoIntegrador.BaseDatos.Proyecto

@{
    ViewBag.Title = "Edit";
}


@if (Request.IsAuthenticated)
{


    //Si no tiene permisos para acceder a la vista editar
    if (Model == null)
    {
        <div class="alert alert-primary text-center" style="color:white ; background-color:red"> Usted No tiene permisos para editar este proyecto</div>

    }
    else
    {
        @Html.Partial("FormularioEditar")
    }



    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


}
else
{
    <div class="alert alert-primary text-center" style="color:white ; background-color:red"> Necesita hacer login para poder editar proyectos</div>
}