@model ProyectoIntegrador.BaseDatos.Proyecto

@{
    ViewBag.Title = "Edit";
}


@if (Request.IsAuthenticated)
{


    //Si no tiene permisos para acceder a la vista editar
    if (Model == null)
    {
        <div class="alert alert-primary text-center" style="color:white ; background-color:red"> Usted No tiene permisos para editar este proyecto</div>

    }
    else
    {
        <br />

        <p class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px">Editar Proyecto</p>

        <hr>

        @Html.Partial("FormularioEditar")
    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


}
else
{
    <div class="alert alert-primary text-center" style="color:white ; background-color:red"> Necesita hacer login para poder editar proyectos</div>
}