@model ProyectoIntegrador.BaseDatos.Proyecto

@{
    ViewBag.Title = "Edit";
}


@if (Request.IsAuthenticated)
{


    //Si no tiene permisos para acceder a la vista editar
    if (ViewBag.permisos.Item1 == 3)
    {
        <div class="alert alert-primary text-center" style="color:white ; background-color:red"> Usted No tiene permisos para editar proyectos</div>

    }
    else
    {

        //Solo puede editar los proyectos a los cuales pertenece
        if (ViewBag.permisos.Item1 == 2)
        {
            //Revisa si puede editar este proyecto
            if (Model != null)
            {
                @Html.Partial("FormularioEditar")

            }
            else
            {
                <div class="alert alert-primary text-center" style="color:white ; background-color:red"> Usted No tiene permisos para editar este proyecto</div>

            }


        }
        else
        {

            @Html.Partial("FormularioEditar")

        }





        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }



    }



}
else
{
    <div class="alert alert-primary text-center" style="color:white ; background-color:red"> Necesita hacer login para poder editar proyectos</div>
}