 <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">  Esta seguro que quiere eliminar el Proyecto?</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <!--Cancelar-->
                        <div class="col text-center">
                            <a href="#" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Cancelar" class="btn d-inline-block"><img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                        </div>

                        <!--Aceptar-->
                        <div class="col text-center">
                            <a id="pager" aria-pressed="true" data-toggle="tooltip" data-placement="top" title="Aceptar" href="/Proyectos/Eliminar/" class="btn d-inline-block"><img src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>

                        </div>


                    </div>
                </div>




            </div>
        </div>
    </div>
</div>
