<!-- Código del modal que se desplegará cuando si se pueda eliminar el requerimiento -->
<div class="modal fade" id="modalElim" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Esta seguro que quiere eliminar el requerimiento?</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">

                        <!--Cancelar-->
                        <div class="col text-center">
                            <a href="#" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Cancelar" class="btn d-inline-block"><img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                        </div>

                        <!--Aceptar-->
                        <div class="col text-center">
                            <a id="pager" aria-pressed="true" data-toggle="tooltip" data-placement="top" title="Aceptar" href="/Requerimientos/Eliminar/" class="btn d-inline-block"><img src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Código del modal que se desplegará cuando no es posible eliminar el requerimiento-->
<div class="modal fade" id="modalNotElim" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">No es posible eliminar el requerimiento, asegurese que este se encuentre cancelado.</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <!--Aceptar-->
                        <div class="col text-center">
                            <a href="#" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Cancelar" class="btn d-inline-block"><img src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
