<!-- Despliega el modal -->
<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var requerimiento = button.data('whatever') // Extract info from data-* attributes
        var proyecto = button.data('whatever2')

        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)

        var a = document.getElementById('pager')
        @*
        a.href = @Url.Action("Eliminar", "Requerimientos", new { idRequerimiento = @requerimiento, idProyecto = @proyecto});
        *@
        var format_href = '@Url.Action("Eliminar", "Requerimientos")';
        format_href += '?idRequerimiento=' + requerimiento + '&idProyecto='+proyecto;
        a.href = format_href;

    })
</script>

<!--Agrega un loading al Edit-->
<script>
    function my_loading(elemt) {
        elemt.disabled = true;
        elemt.innerHTML = '<div class="spinner-border text-black" role="status"><span class="sr-only">Loading...</span></div>';
    }

</script>

<!-- Agrega Tooltips a los elementos -->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
