@model ProyectoIntegrador.BaseDatos.Cliente

@{
    ViewBag.Title = "Create Clientes";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">

    </style>
</head>

<h2 class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px">Agregar Cliente  <img src="~/Content/boss.svg" width="70" height="70"></h2>


<hr />
<!---->
<body onload="getProvincias('Seleccione una provincia','Seleccione un cantón','Seleccione un distrito')">
    <div class="container align-content-center" style="max-width: 1400px;">
        <div class="tab-content d-block overflow-auto bg-secondary" style="background-color:rgba(192,159,128,0.7); height:auto; box-shadow: rgba(128,128,128,0.91); border-radius:25px;" id="nav-tabContent">
            <!--Despliegue del formulario-->
            <div style="padding-left:30px; padding-right:30px; overflow-x:hidden; background-color:rgba(192,159,128,0.7)">
                <form id="clientForm" class="cmxform" name="clientForm" method="post" action="Create">
                    <fieldset>
                        <div class="alert alert-primary text-center m-3 pt-2" style=" border-color:transparent ; background-color:transparent; height:20px"></div>

                        <div class="form-row mb-2">
                            <div class="col-3">
                                <!--Campo Nombre-->
                                <h5 for="nombre" style="width:200px">Nombre *:</h5>
                                <input class="form-control" id="nombre" name="nombre" type="text" style="background-color:#D7CEC7; border-color:transparent;max-width:none" />
                                <div id="errorNombre"></div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <!--Campo Primer Apellido-->
                                <h5 for="apellido1" style="width:200px">Primer Apellido *:</h5>
                                <input class="form-control" id="apellido1" name="apellido1" type="text" style="background-color:#D7CEC7; border-color:transparent; max-width:none" />
                                <div id="errorApe1"></div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <!--Campo Segundo Apellido-->
                                <h5 for="apellido2" style="width:200px">Segundo Apellido:</h5>
                                <input class="form-control" id="apellido2" name="apellido2" type="text" style="background-color:#D7CEC7; border-color:transparent;max-width:none" />
                                <div id="errorApe2"></div>
                            </div>
                        </div>
                        <br>
                        <div class="form-row mb-2">
                            <div class="col-3">
                                <!--Campo Cedula-->
                                <h5 for="cedulaPK" style="width:200px">Cédula*:</h5>
                                <input class="form-control" id="cedulaPK" name="cedulaPK" type="text" style="background-color:#D7CEC7; border-color:transparent; max-width:none" placeholder="000000000" />
                                <div id="errorCed"></div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <!--Campo Email-->
                                <h5 for="correo" style="width:200px">Correo *:</h5>
                                <input class="form-control" id="correo" name="correo" type="email" placeholder="example@example.com" style="background-color:#D7CEC7; border-color:transparent; max-width:none" />
                                <div id="errorEma"></div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <!--Campo Telefono-->
                                <h5 for="telefono" style="width:200px">Telefono:</h5>
                                <input class="form-control" id="telefono" name="telefono" type="text" style="background-color:#D7CEC7; border-color:transparent; max-width:none" placeholder="88888888" />
                                <div id="errorTel"></div>
                            </div>
                        </div>
                        <br>
                        <div class="form-row mb-2">
                            <div class="col-3">
                                <!--Campo Empresa-->
                                <h5 for="empresa" style="width:200px">Empresa *:</h5>
                                <input class="form-control" id="empresa" name="empresa" type="text" style="background-color:#D7CEC7; border-color:transparent;max-width:none" />
                                <div id="errorEmp"></div>
                            </div>
                        </div>
                        <br>
                        <div class="form-row mb-2">
                            <div class="col-3">
                                <!--Campo Provincia-->
                                <h5 for="provincia" style="width:200px">Provincia *:</h5>
                                <div id="destino"></div>
                                <div id="errorProv"></div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <!--Campo Canton-->
                                <h5 for="canton" style="width:200px">Cantón *:</h5>
                                <div id="destino2"></div>
                                <div id="errorCant"></div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-3">
                                <!--Campo Distrito-->
                                <h5 for="distrito" style="width:200px">Distrito *:</h5>
                                <div id="destino3"></div>
                                <div id="errorDistr"></div>
                            </div>
                        </div>

                        <br>
                        <div class="form-row mb-2" style="padding-left:5px">
                            <!--Campo Direccion Exacta-->
                            <h5 for="direccionExacta" style="width:400px">Direccion exacta de la empresa*:</h5>
                        </div>
                        <div class="row" style="padding-left:15px; padding-right:15px;">
                            <textarea class="form-control col-12" id="direccionExacta" maxlength="300" name="direccionExacta" style="background-color:#D7CEC7; border-color:transparent;height: 90px;"></textarea>
                            <div id="errorDir"></div>
                        </div>
                        <br><br>
                        <h5>* Campos Requeridos</h5>
                        <hr>
                        <div class="row" style="max-width:1600px">
                            <!--Boton Regresar-->
                            <div class="col-4  text-center">
                                <a data-toggle="tooltip" data-placement="right" title="Regresar" class="btn d-inline-block" href="/Clientes/Index/"><img src="~/Content/back.svg" class="rounded float-right" style="height:50px ; width:50px"></a>
                            </div>

                            <!--Boton Cancelar o Reset-->
                            <div class="col-4 text-center">
                                <button type="reset" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Cancelar">
                                    <img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px">
                                </button>
                            </div>

                            <!--Boton Aceptar-->
                            <div class="col-4  text-center">
                                <button type="submit" class="btn btn-default" value="Submit" data-toggle="tooltip" data-placement="top" title="Aceptar">
                                    <img src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px">
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    @Html.Partial("ScriptsCliente")
    @Html.Partial("ScriptDropdown")

</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}


<script>
    $(function () {
        jQuery.validator.addMethod("lettersonly", function (value, element) {
            return this.optional(element) || /^[a-z]+$/i.test(value);
        }, "No se admiten números en los nombres");

        $("#clientForm").validate(
            {
                rules:
                {
                    nombre:
                    {
                        required: true,
                        minlength: 1,
                        maxlength: 30,
                        lettersonly: true
                    },
                    apellido1:
                    {
                        required: true,
                        minlength: 1,
                        maxlength: 30,
                        lettersonly: true
                    },
                    apellido2:
                    {
                        minlength: 1,
                        maxlength: 30,
                        lettersonly: true
                    },
                    cedulaPK:
                    {
                        required: true,
                        minlength: 1,
                        number: true,
                        maxlength: 20,
                        remote: {
                            url: "/Clientes/CheckCedula",
                            type: "post",
                            delay: 1000,
                            data: {
                                cedulaPK: function () {
                                    return $("#cedulaPK").val();
                                },
                                oldcedulaPK: null
                            }
                        }
                    },
                    empresa:
                    {
                        required: true,
                        minlength: 1,
                        maxlength: 30
                    },
                    provincia:
                    {
                        required: true
                    },
                    canton:
                    {
                        required: true
                    },
                    distrito:
                    {
                        required: true
                    },
                    direccionExacta:
                    {
                        required: true,
                        maxlength: 300
                    },
                    telefono:
                    {
                        required: true,
                        number: true,
                        maxlength: 15
                    },
                    correo:
                    {
                        required: true,
                        maxlength: 50,
                        remote: {
                            url: "/Clientes/CheckEmail",
                            type: "post",
                            delay: 1000,
                            data: {
                                email: function () {
                                    return $("#correo").val();
                                },
                                oldEmail: null
                            }
                        }
                    }
                },
                messages:
                {
                    correo:
                    {
                        required: "Ingrese un correo válido",
                        remote: "Ya existe un cliente con ese correo"
                    },
                    cedulaPK:
                    {
                        required: "Ingrese cédula válida",
                        remote: "Ya existe un cliente con esa cédula",
                        number: "Ingrese números solamente"
                    },
                    nombre: {
                        required: "Nombre es requerido",
                        lettersonly: "No se admiten números en el nombre"
                    },
                    apellido1: {
                        required: "Apellido es requerido",
                        lettersonly: "No se admiten números en apellido"
                    },
                    apellido2: "No se admiten números en apellido",
                    empresa: "Inserte nombre de empresa válido",
                    provincia: "Seleccione una provincia",
                    canton: "Seleccione un canton",
                    distrito: "Seleccione un distrito",
                    direccionExacta: "Ingrese una dirección válida, rango 300 caracteres",
                    telefono: "Ingrese número de teléfono válido"
                },

                errorPlacement: function (error, element) {
                    if ((element.attr('name') === 'nombre')) {
                        error.insertAfter($('#errorNombre'));
                    }
                    if ((element.attr('name') === 'apellido1')) {
                        error.insertAfter($('#errorApe1'));
                    }
                    if ((element.attr('name') === 'apellido2')) {
                        error.insertAfter($('#errorApe2'));
                    }
                    if ((element.attr('name') === 'empresa')) {
                        error.insertAfter($('#errorEmp'));
                    }
                    if ((element.attr('name') === 'cedulaPK')) {
                        error.insertAfter($('#errorCed'));
                    }
                    if ((element.attr('name') === 'provincia')) {
                        error.insertAfter($('#errorProv'));
                    }
                    if ((element.attr('name') === 'canton')) {
                        error.insertAfter($('#errorCant'));
                    }
                    if ((element.attr('name') === 'distrito')) {
                        error.insertAfter($('#errorDistr'));
                    }
                    if ((element.attr('name') === 'direccionExacta')) {
                        error.insertAfter($('#errorDir'));
                    }
                    if ((element.attr('name') === 'correo')) {
                        error.insertAfter($('#errorEma'));
                    }
                    if ((element.attr('name') === 'telefono')) {
                        error.insertAfter($('#errorTel'));
                    }
                },
                invalidHandler: function (form, validator) {
                    $('#loading').hide('fast');
                    $('#acceptar').show('fast');
                },
            });
    });
</script>