@model ProyectoIntegrador.BaseDatos.Cliente

@{
    ViewBag.Title = "Create Clientes";
}
<head>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">

        /*Cambia los colores de las listas activas*/
        .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
            color: #ffffff;
            background-color: #76323f;
            border-color: none;
        }
        /*Cambia los colores de los tooltips*/
        .tooltip > .tooltip-inner {
            background-color: #76323f;
            color: white;
        }

        .bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
            border-bottom-color: #76323f;
        }

        .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
            border-top-color: #76323f;
        }

        .bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
            border-left-color: #76323f
        }

        .bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
            border-right-color: #76323f
        }
    </style>
</head>

<h2 style="text-align:center">Agregar Cliente  <img src="~/Content/boss.svg" width="70" height="70"></h2>


<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="container" style="max-width: 1800px; padding-left:25%;">
        <div class="row">
            <div class="col-8">
                <div class="tab-content d-block bg-secondary overflow-auto" style="height:auto; border-radius:20px 20px 20px 20px;" id="nav-tabContent">
                    <!--Despliegue del formulario-->
                    <div style="padding-left:20px; padding-top:20px;">
                        <div class="form-horizontal" id="clientForm">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="nombre">Nombre:</span>
                                </div>
                                <input class="form-control" id="nombre" name="nombre" type="text" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="apellido1">Primer Apellido:</span>
                                </div>
                                <input class="form-control" id="apellido1" name="apellido1" type="text" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="apellido2">Segundo Apellido:</span>
                                </div>
                                <input class="form-control" id="apellido2" name="apellido2" type="text" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="cedulaPK">Cedula:</span>
                                </div>
                                <input class="form-control" id="cedulaPK" name="cedulaPK" type="text" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="empresa">Empresa:</span>
                                </div>
                                <input class="form-control" id="empresa" name="empresa" type="text" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="correo">Correo:</span>
                                </div>
                                <input class="form-control" id="correo" name="correo" type="email" placeholder="example@example.com" />
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="telefono">Telefono:</span>
                                </div>
                                <input class="form-control" id="telefono" name="telefono" type="text" />
                            </div>



                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="provincia">Provincia:</span>
                                </div>
                                <select class="form-control" id="provincia" name="provincia" onchange="$('#canton1').show()" onclick="getCanton(this.options[ this.options.selectedIndex ].value)"></select>
                            </div>

                            <div class="input-group mb-3" id="canton1" style="display:none;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="canton">Canton:</span>
                                </div>
                                <select class="form-control" id="canton" name="canton" onchange="$('#distrito1').show()"></select>
                            </div>

                            <div class="input-group mb-3" id="distrito1" style="display:none;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="distrito">Distrito:</span>
                                </div>
                                <select class="form-control" id="distrito" name="distrito"></select>
                                <input class="form-control" id="distrito" name="distrito" type="text"/>
                            </div>




                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1" for="direccionExacta">Direccion Exacta:</span>
                                </div>
                                <textarea class="form-control" id="direccionExacta" name="direccionExacta" placeholder="Direccion de la empresa"></textarea>
                            </div>

                            <div class="col text-center">
                                <!--Cancelar-->
                                <a href="#" data-toggle="modal" data-target="#modalCancelar" title="Cancelar" class="btn"><img src="~/Content/cancelar.svg" class="rounded float-right" style="height:50px ; width:50px"></a>
                                <!--Aceptar-->
                                <input type="image" title="Aceptar" src="~/Content/aceptar.svg" alt="Submit Form" class="btn d-inline-block" style="height:80px ; width:80px" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("ModalCancelar")

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
