@model ProyectoIntegrador.BaseDatos.Cliente

@{
    ViewBag.Title = "Delete";
}

<div class="alert alert-primary text-center" style="color:white ; background-color:red"> Necesita hacer login para poder eliminar clientes</div>

