<!-- Modal Eliminar-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">  Esta seguro que quiere eliminar el Empleado?</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        Realmente desea eliminar los datos del Empleado? Esta operacion es irreversible.
                    </div>
                </div>
             </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <!--Cancelar-->
                        <div class="col text-center">
                            <a href="#" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Cancelar" class="btn d-inline-block"><img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                        </div>
                        <!--Aceptar-->
                        <div class="col text-center">
                            <a id="pager" aria-pressed="true" data-toggle="tooltip" data-placement="top" title="Aceptar" href="/Empleados/Eliminar/" class="btn d-inline-block"><img src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalEliminarActivo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">  NO puede eliminar un empleado que esta con proyectos activos</h5>

            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row">
                               Proceda a desligar primero el empleado de sus proyectos
                            </div>
                        </div>
                        <div class="col text-center">
                            <button type="button" class="btn" data-dismiss="modal"><img src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px"></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

