<!-- Modal Cancelar-->
<div class="modal fade" id="modalCancelar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">  Esta seguro que quiere cancelar la creacion del empleado?</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <!--Cancelar-->
                        <div class="col text-center">
                            <a href="~\Empleados\Crear" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Cancelar" class="btn d-inline-block"><img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                        </div>
                        <!--Aceptar-->
                        <div class="col text-center">
                            <a href="~\Empleados\Index" id="pager" aria-pressed="true" data-toggle="tooltip" data-placement="top" title="Aceptar" href="/Clientes/Index" class="btn d-inline-block"><img src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cancelar-->
<div class="modal fade" id="modalSalir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">  Esta seguro que quiere cancelar la edicion del empleado?</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <!--Cancelar-->
                        <div class="col text-center">
                            <a href="#" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Cancelar" class="btn d-inline-block"><img src="~/Content/cancelar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                        </div>
                        <!--Aceptar-->
                        <div class="col text-center">
                            <a id="pager" aria-pressed="true" data-toggle="tooltip" data-placement="top" title="Aceptar" href="/Clientes/Index" class="btn d-inline-block"><img src="~/Content/aceptar.svg" class="rounded float-right" style="height:80px ; width:80px"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        let dropdown = $('#provincia');
        dropdown.empty();
        dropdown.append('<option>Escoja Provincia</option>');
        dropdown.prop('selectedIndex', 0);
        var data = { "1": "San José", "2": "Alajuela", "3": "Cartago", "4": "Heredia", "5": "Guanacaste", "6": "Puntarenas", "7": "Limón" };
        $.each(data, function (i, option) {
            dropdown.append($('<option/>').attr("value", data[''+i]).text(data[''+i]));
        });
</script>


<script>
    let idProvincia;
    let idCanton;
    function getCanton(idProvince) {
        let dropdownCanton = $('#canton');
        idProvincia = idProvince;
        dropdownCanton.empty();
        dropdownCanton.append('<option>Escoja Canton</option>');
        dropdownCanton.prop('selectedIndex', 0);
        var data1;
        if (idProvince == 'San José') {
            data1 = { "1": "Central", "2": "Escazú", "3": "Desamparados", "4": "Puriscal", "5": "Tarrazú", "6": "Aserrí", "7": "Mora", "8": "Goicoechea", "9": "Santa Ana", "10": "Alajuelita", "11": "Vázquez De Coronado", "12": "Acosta", "13": "Tibás", "14": "Moravia", "15": "Montes De Oca", "16": "Turrubares", "17": "Dota", "18": "Curridabat", "19": "Pérez Zeledón", "20": "León Cortés Castro" }
        } else if (idProvince == 'Alajuela') {
            data1 = { "1": "Central", "2": "San Ramón", "3": "Grecia", "4": "San Mateo", "5": "Atenas", "6": "Naranjo", "7": "Palmares", "8": "Poás", "9": "Orotina", "10": "San Carlos", "11": "Zarcero", "12": "Valverde Vega", "13": "Upala", "14": "Los Chiles", "15": "Guatuso", "16": "Río Cuarto" }
        } else if (idProvince == 'Cartago') {
            data1 = { "1": "Central", "2": "Paraíso", "3": "La Unión", "4": "Jiménez", "5": "Turrialba", "6": "Alvarado", "7": "Oreamuno", "8": "El Guarco" }
        } else if (idProvince == 'Heredia') {
            data1 = { "1": "Central", "2": "Barva", "3": "Santo Domingo", "4": "Santa Barbara", "5": "San Rafael", "6": "San Isidro", "7": "Belén", "8": "Flores", "9": "San Pablo", "10": "Sarapiquí" }
        } else if (idProvince == 'Guanacaste') {
            data1 = { "1": "Liberia", "2": "Nicoya", "3": "Santa Cruz", "4": "Bagaces", "5": "Carrillo", "6": "Cañas", "7": "Abangares", "8": "Tilarán", "9": "Nandayure", "10": "La Cruz", "11": "Hojancha" }
        } else if (idProvince == 'Puntarenas') {
            data1 = { "1": "Central", "2": "Esparza", "3": "Buenos Aires", "4": "Montes De Oro", "5": "Osa", "6": "Quepos", "7": "Golfito", "8": "Coto Brus", "9": "Parrita", "10": "Corredores", "11": "Garabito" }
        } else if (idProvince == 'Limón') {
            data1 = { "1": "Central", "2": "Pococí", "3": "Siquirres", "4": "Talamanca", "5": "Matina", "6": "Guácimo" }
        }
        $.each(data1, function (i, option1) {
            dropdownCanton.append($('<option/>').attr("value", data1['' + i]).text(data1['' + i]));
        });
    }
    function getDistrito(idCant) {
        let dropdownCanton = $('#canton');
        idCanton = idCant
        dropdownCanton.empty();
        dropdownCanton.append('<option>Escoja Canton</option>');
        dropdownCanton.prop('selectedIndex', 0);
        var data2;
        if (idProvince == 'San José') {
            data1 = { "1": "Central", "2": "Escazú", "3": "Desamparados", "4": "Puriscal", "5": "Tarrazú", "6": "Aserrí", "7": "Mora", "8": "Goicoechea", "9": "Santa Ana", "10": "Alajuelita", "11": "Vázquez De Coronado", "12": "Acosta", "13": "Tibás", "14": "Moravia", "15": "Montes De Oca", "16": "Turrubares", "17": "Dota", "18": "Curridabat", "19": "Pérez Zeledón", "20": "León Cortés Castro" }
        } else if (idProvince == 'Alajuela') {
            data1 = { "1": "Central", "2": "San Ramón", "3": "Grecia", "4": "San Mateo", "5": "Atenas", "6": "Naranjo", "7": "Palmares", "8": "Poás", "9": "Orotina", "10": "San Carlos", "11": "Zarcero", "12": "Valverde Vega", "13": "Upala", "14": "Los Chiles", "15": "Guatuso", "16": "Río Cuarto" }
        } else if (idProvince == 'Cartago') {
            data1 = { "1": "Central", "2": "Paraíso", "3": "La Unión", "4": "Jiménez", "5": "Turrialba", "6": "Alvarado", "7": "Oreamuno", "8": "El Guarco" }
        } else if (idProvince == 'Heredia') {
            data1 = { "1": "Central", "2": "Barva", "3": "Santo Domingo", "4": "Santa Barbara", "5": "San Rafael", "6": "San Isidro", "7": "Belén", "8": "Flores", "9": "San Pablo", "10": "Sarapiquí" }
        } else if (idProvince == 'Guanacaste') {
            data1 = { "1": "Liberia", "2": "Nicoya", "3": "Santa Cruz", "4": "Bagaces", "5": "Carrillo", "6": "Cañas", "7": "Abangares", "8": "Tilarán", "9": "Nandayure", "10": "La Cruz", "11": "Hojancha" }
        } else if (idProvince == 'Puntarenas') {
            data1 = { "1": "Central", "2": "Esparza", "3": "Buenos Aires", "4": "Montes De Oro", "5": "Osa", "6": "Quepos", "7": "Golfito", "8": "Coto Brus", "9": "Parrita", "10": "Corredores", "11": "Garabito" }
        } else if (idProvince == 'Limón') {
            data1 = { "1": "Central", "2": "Pococí", "3": "Siquirres", "4": "Talamanca", "5": "Matina", "6": "Guácimo" }
        }
        $.each(data1, function (i, option1) {
            dropdownCanton.append($('<option/>').attr("value", data1['' + i]).text(data1['' + i]));
        });
    }
</script>