<script>
    function cargarDatos(provincia, canton, distrito) {
        getProvincias(provincia,canton,distrito);
    }
    @* Metodo para sacar provincias y desplegarlos en un dropdown *@
    function getProvincias(provincia,canton,distrito) {
        $.ajax({
            dataType: "json",
            url: "https://ubicaciones.paginasweb.cr/provincias.json",
            data: {},
            success: function (data) {
                var html = "<select id = 'abc' class='form-control' name = 'provincia' onchange = 'getCantones()' onclick = 'getCantones()' style = 'background-color:#F9F9F9; border-color:transparent; width: 200px' > ";
                for (key in data) {
                    if (provincia == data[key]) {
                        html += "<option selected value='" + data[key] + "'  data-t='" + key + "'>" + data[key] + "</option>";
                    }
                    else
                    {
                         html += "<option value='" + data[key] + "'  data-t='" + key + "'>" + data[key] + "</option>";
                    }
                }
                html += "</select"
                $('#destino').html(html);
                if (canton != null) {
                    getCantones(canton,distrito);
                }
            }
        });
    }
    @* Metodo para sacar cantones y desplegarlos en un dropdown *@
        function getCantones(canton,distrito) {
            var selected_option = $("#abc option:selected").data("t");
        $.ajax({
            dataType: "json",
            url: "https://ubicaciones.paginasweb.cr/provincia/" + selected_option + "/cantones.json",
            data: {},
            success: function (data) {
                var html = "<select id = 'abc2' class='form-control' name='canton' onchange='getDistritos()' onclick='getDistritos()' style='background-color:#F9F9F9; border-color:transparent; width: 200px'>";
                for (key in data) {
                    if (canton == data[key]) {
                        html += "<option selected value='" + data[key] + "'  data-t='" + key + "'>" + data[key] + "</option>";
                    }
                    else
                    {
                         html += "<option value='" + data[key] + "'  data-t='" + key + "'>" + data[key] + "</option>";
                    }
                }
                html += "</select";
                $('#destino2').html(html);
                if (distrito != null) {
                    getDistritos(distrito);
                }
            }
        });
    }
    @*Metodo para sacar distritos y desplegarlos en un dropdown*@
    function getDistritos(distrito) {
        var provincia = $("#abc option:selected").data('t');
        var canton = $("#abc2 option:selected").data('t');
        $.ajax({
            dataType: "json",
            url: "https://ubicaciones.paginasweb.cr/provincia/" + provincia + "/canton/" + canton + "/distritos.json",
            data: {},
            success: function (data) {
                var html = "<select id='abc3' class='form-control' style='background-color:#F9F9F9; border-color:transparent; width: 200px' name='distrito'>";
                for (key in data) {
                    if (distrito == data[key]) {
                        html += "<option selected value='" + data[key] + "'  data-t='" + key + "'>" + data[key] + "</option>";
                    }
                    else
                    {
                         html += "<option value='" + data[key] + "'  data-t='" + key + "'>" + data[key] + "</option>";
                    }
                }
                html += "</select";
                $('#destino3').html(html);
            }
        });
    }
</script>
