<script>
    function consulta7(permiso, idUsuario) {
        //Cierra la lista de consultas
        opencloseNav();

        //Limpia los datos
        document.getElementById("datosC1").innerHTML = " ";


        //Agrega el titulo de la consulta
        document.getElementById("nombreConsulta").innerText = "Comparación de duración por complejidad";

        //Se crea el html de loading
        document.getElementById("datosC1").innerHTML = ' </br>  </br> <div class="text-center"><h1>Cargando Datos</h1> </div><div class="text-center"><div class="spinner-border" style="width: 100px; height: 100px;" role="status"></div></div></div>';




    }

</script>