<script>
    function consulta10() {
        //Cierra la lista de consultas
        opencloseNav();

        //Limpia los datos
        document.getElementById("datosC1").innerHTML = " ";

        //Agrega el titulo de la consulta
        document.getElementById("nombreConsulta").innerText = "Estado de los requerimientos de un proyecto";
        document.getElementById("datosC1").innerHTML = ' </br>  </br> <div class="text-center"><h1>Cargando Datos</h1> </div><div class="text-center"><div class="spinner-border" style="width: 100px; height: 100px;" role="status"></div></div></div>';

        $.ajax({


        });

    }





</script>

