<script>
    function consulta7(permiso, idUsuario) {
        //Cierra la lista de consultas
        opencloseNav();
        //Limpia los datos
        document.getElementById("datosC1").innerHTML = " ";
        //Agrega el titulo de la consulta
        document.getElementById("nombreConsulta").innerText = "Comparación de duración por complejidad";
        //Se crea el html de loading
        document.getElementById("datosC1").innerHTML = ' </br>  </br> <div class="text-center"><h1>Cargando Datos</h1> </div><div class="text-center"><div class="spinner-border" style="width: 100px; height: 100px;" role="status"></div></div></div>';
        $.ajax({
            url: "/ConsultasAvanzadas/consulta7",
            method: "GET",
            data: {
                rol: function () {
                    return document.getElementById("rol").value;
                },
                permiso: function () {
                    return permiso;
                },
                idUsuario: function () {
                    return idUsuario;
                },
            },
            success: function (data) {
                jsonData = JSON.parse(data);
                //alert("Received data successfully");
                //Crea el html
                var html = '<div class="row"><div class="col">';
                //Genera el grupo de botones
                html += '<h2 class="text-primary text-center font-weight-bold">Complejidad</h2>';
                html += '<div class="btn-group justify-content: center" role="group" aria-label="BotonesComplejidades"> \
                        <button type="button" class="btn btn-secondary">Simple</button> \
                        <button type="button" class="btn btn-secondary">Medio</button> \
                        <button type="button" class="btn btn-secondary">Complejo</button> \
                        <button type="button" class="btn btn-secondary">Muy Complejo</button> \
                        </div><br>';
                //Se crea el html para la tabla
                var table = '<h2 class="text-primary text-center font-weight-bold">Lista de Proyectos</h2><table class="table table-bordered table-hover table-light"><thead class="thead-dark"><tr> \
                    <th scope="col">Nombre del Proyecto</th><th scope="col">Líder del Proyecto</th></tr ></thead > <tbody>';
                //Recorre las tuplas para insertar los datos a la tabla
                for (tupla in jsonData) {
                    var idProyecto = jsonData[tupla].idProyecto;
                    var nombreProyecto = jsonData[tupla].nombreProyecto;
                    var datosDelScript = "consulta7CargarTesters(" + idProyecto + ")";
                    table += '<tr onclick="' + datosDelScript + '"  class="table-row" >';
                    table += ' <th scope="row">' + nombreProyecto + '</th>';
                    var nombreEmpleado = jsonData[tupla].nombreEmpleado;
                    table += '<td>' + nombreEmpleado + '</td>';
                    table += '</tr>';
                }
                table += '</tbody></table>';
                html += table;
                html += '</div > <div class="col"><div id="tablaTesters"></div>';
                html += '</div>';
                document.getElementById("datosC1").innerHTML = html;
            },
            error: function (err) {
                alert("Por favor refrescar el navegador");
            }
        });
    }
    function consulta7CargarTesters(idProyecto) {
        //Eliminar el Chart Anterior
        if (document.contains(document.getElementById("tablaEstimaciones"))) {
            document.getElementById("tablaEstimaciones").remove();
        }
        //Pide los datos al controlador
        $.ajax({
            url: "/ConsultasAvanzadas/consulta7CargarTesters",
            method: "GET",
            data: {
                idProyecto: function () {
                    return idProyecto;
                },
            },
            success: function (data) {
                data2 = JSON.parse(data);
                //Crea el html
                var html = '<div class="row"><div class="col">';
                //Se crea el html para la tabla
                var table = '<h2 class="text-primary text-center font-weight-bold">Lista de Testers</h2><table class="table table-bordered table-hover table-light"><thead class="thead-dark"><tr><th scope="col">Nombre Tester</th><th scope="col">Cantidad Requerimientos</th></tr></thead><tbody>';
                //Recorre las tuplas para insertar los datos a la tabla
                for (tupla in data2) {
                    var idEmpleado = data2[tupla].idEmpleado;
                    var nombreEmpleado = data2[tupla].nombreEmpleado;
                    var numReqs = data2[tupla].numReqs;
                    var datosDelScript = "consulta7LoadGraphTester(" + idProyecto + ",'" + idEmpleado + "'" + ")";
                    table += '<tr onclick="' + datosDelScript + '"  class="table-row" >';
                    table += ' <th scope="row">' + nombreEmpleado + '</th>';

                    table += '<td>' + numReqs + '</td>';
                    table += '</tr>';
                }
                table += '</tbody></table>';
                html += table;
                // html += '</div > <div class="col"><div id="chartInterno"></div>';
                document.getElementById("tablaTesters").innerHTML = html;
                //Crea la otra fila para desplejar el graph
                document.getElementById("datosC1").innerHTML += '<div class="row" id="tablaEstimaciones"></div>';
            }
            ,
            error: function (err) {
                alert("Por favor refrescar el navegador");
            }
        });
    }

        function consulta7LoadGraphTester(idProyecto, idTester) {
        //Pide los datos al controlador
        $.ajax({
            url: "/ConsultasAvanzadas/consulta4LoadGraphTester",
            method: "GET",
            data: {
                idProyecto: function () {
                    return idProyecto;
                },
                idTester: function () {
                    return idTester;
                },
            },
            success: function (data) {
                data2 = JSON.parse(data);

                //Carga los datos del chart
                google.charts.load("visualization", "1", { packages: ["corechart"] }
                ).then(function () {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Requerimiento');
                    data.addColumn('number', 'Estimada');
                    data.addColumn('number', 'Real');

                    for (tupla in data2) {
                        var nombreCompleto = "";
                        var nombre = data2[tupla].nombre;

                        var tiempoEstimado = data2[tupla].tiempoEstimado;
                        var tiempoReal = data2[tupla].tiempoReal;
                        data.addRow([nombre, tiempoEstimado, tiempoReal]);
                    }
                    var options = {
                        'backgroundColor': 'transparent',
                        title: "Duraciones por Requerimiento (horas)",
                        titleTextStyle: { fontSize: 25, },
                    };
                    var chart = new google.visualization.ColumnChart(document.getElementById('columnChart'));
                    chart.draw(data, options);
                });
                //Se crea el html para el columnChart
                var chart = '<div id="columnChart" align="center" style="width: 900px; height: 500px;margin: 0 auto"></div>';
                document.getElementById("tablaEstimaciones").innerHTML = chart;
            }
            ,
            error: function (err) {
                alert("Por favor refrescar el navegador");
            }
        });
    }

</script>