
@model IEnumerable<ProyectoIntegrador.BaseDatos.Empleado>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 625px;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 160px;
            left: 0;
            background-color: #76323F;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 0px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #FFFFFF;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #C09F80;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }
    </style>
</head>
<body>

    <div id="mySidenav" class="sidenav mt-2">
        <a href="#" onclick="consulta1()"><h5>Testers Asignados/Disponibles</h5></a>
        <a href="#" onclick="consulta2()"><h5>Tester Habilidades/Disponibilidad</h5></a>
        <a href="#" onclick="consulta3()"><h5>Total requerimientos por tester</h5></a>
        <a href="#" onclick="consulta4()"><h5>Duración estimada vs real por requerimientos de un tester</h5></a>
        <a href="#" onclick="consulta5()"><h5>Horas estimadas y reales requeridas por proyecto</h5></a>
        <a href="#" onclick="consulta6()"><h5>Historial de participación por tester </h5></a>
        <a href="#" onclick="consulta7()"><h5>Comparación de duración por complejidad</h5></a>
        <a href="#" onclick="consulta8()"><h5>Resultado de pruebas para un proyecto</h5></a>
        <a href="#" onclick="consulta9()"><h5>Estado de pruebas para un proyecto</h5></a>
        <a href="#" onclick="consulta10()"><h5>Requerimientos terminados y en ejecución</h5></a>
    </div>

    <br />

        <div class="row">
            <div class="col-2 ">

                <div style="margin-left:20px"><button id="toggleButton" type="button" onclick="opencloseNav()" class="btn btn-primary" style="height:60px"><h5>&#9776; Ver Consultas</h5></button></div>

            </div>

            <div class="col">

                <p class="font-weight-bold" style="font-family:PlayfairDisplay-Bold; font-size:50px ; letter-spacing: 5px; margin-bottom:0px; margin-left:350px">Consultas Avanzadas</p>

            </div>


        </div>


        <hr>

        <div class="container-fluid">
            <div id="main" style="min-height:600px">

                <div class="row mb-2">
                    <div class="col" style="max-height:40px">
                        <p id="nombreConsulta" class="font-weight-bold text-center" style="font-family:PlayfairDisplay-Bold; font-size:32px;"></p>

                    </div>

                </div>

                <div class="row mb-2">
                    <div class="col text-center">
                       
                        <h5>Description de la consulta</h5>
                        
                    </div>

                </div>

                <div class="container-fluid" @*style="max-height:550px;overflow:auto"*@>
                    <!-- Datos para la primera consulta -->
                    <div id="datosC1">




                    </div>

                </div>




            </div>


        </div>

        <script>
            function opencloseNav() {

                var title = document.getElementById("title");
                var Sidenav = document.getElementById("mySidenav");
                var main = document.getElementById("main")
                var Width = document.getElementById("mySidenav").offsetWidth;

                if (Width == 0) {
                    Sidenav.style.width = "350px";
                    main.style.marginLeft = "350px";
                    //title.style.marginLeft = "150px";
                }
                else {
                    Sidenav.style.width = "0";
                    main.style.marginLeft = "0";
                    // title.style.marginLeft = "280px";
                }

            }


            function consulta1() {
                //Cierra la lista de consultas
                opencloseNav();

                //Limpia los datos
                document.getElementById("datosC1").innerHTML = " ";

                //Agrega el titulo de la consulta
                document.getElementById("nombreConsulta").innerText = "Testers disponibles y asignados a proyectos";

                //Se crea el html de loading
                document.getElementById("datosC1").innerHTML = ' </br>  </br> <div class="text-center"><h1>Cargando Datos</h1> </div><div class="text-center"><div class="spinner-border" style="width: 100px; height: 100px;" role="status"></div></div></div>';


                //Pide los datos al controlador
                $.ajax({
                    url: "/ConsultasAvanzadas/consulta1",
                    method: "GET",
                    success: function (data) {

                        data2 = JSON.parse(data);

                        console.log(data2);





                        //Saca los datos para el piechart
                        var catidadTotal = data2.length;
                        var cantidadAsignados = 1;
                        var cantiadadDisponibles = 0;



                        //Se crea el html para la tabla
                        var table = '<table class="table table-bordered table-hover table-light"><thead class="thead-dark"><tr><th scope="col">Nombre</th><th scope="col">Estado</th><th scope="col">Proyecto</th></tr></thead><tbody>';

                        //Recorre las tuplas para insertar los datos a la tabla
                        for (tupla in data2) {


                            console.log(data2[tupla].Nombre_Empleado);
                            table += '<tr>';

                            var nombreEmpleado = data2[tupla].Nombre_Empleado;
                            table += ' <th scope="row">' + nombreEmpleado + '</th>';

                            var estado = data2[tupla].estado;
                            if (estado == "Disponible") {
                                cantiadadDisponibles += 1;
                            }
                            else {
                                cantidadAsignados += 1;
                            }
                            table += '<td>' + estado + '</td>';

                            var proyecto = data2[tupla].Nombre_Proyecto;
                            table += '<td>' + proyecto + '</td>';

                            table += '</tr>';

                        }


                        table += '</tbody></table>';




                        //Carga los datos del chart
                        google.charts.load('current', {
                            packages: ['corechart']
                        }).then(function () {
                            var data = google.visualization.arrayToDataTable([
                                ['Tester', 'Estado'],
                                ['Asignados', cantidadAsignados],
                                ['Disponibles', cantiadadDisponibles],

                            ]);

                            var options = {
                                //title: 'Testers',
                                'backgroundColor': 'transparent',
                                pieHole: 0.4,
                            };

                            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                            chart.draw(data, options);

                        });

                        //Se crea el html para el piechart
                        var chart = '<div id="piechart" align="center" style="width: 900px; height: 500px;margin: 0 auto"></div>';



                        var html = chart + table;
                        document.getElementById("datosC1").innerHTML = html;


                    }
                    ,
                    error: function (err) {
                        alert("Por favor refrescar el navegador");
                    }


                });











            }

            function consulta2() {
                //Limpia los datos
                document.getElementById("datosC1").innerHTML = " ";

                //Agrega el titulo de la consulta
                document.getElementById("nombreConsulta").innerText = "Búsqueda de testers de acuerdo a su tipo de conocimiento y su disponibilidad de formar el equipo (Jefe de Calidad y líderes)";

                //Se crea el html de loading
                document.getElementById("datosC1").innerHTML = ' </br>  </br> <div class="text-center"><h1>Cargando Datos</h1> </div><div class="text-center"><div class="spinner-border" style="width: 100px; height: 100px;" role="status"></div></div></div>';

            }


        </script>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>




</body>
</html> 